IoTomatoes_Platform/Node-RED/flows.json
[
    {
        "id": "54c6c3bfbd6d9993",
        "type": "tab",
        "label": "Main Flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "08d0724ddf5b999b",
        "type": "group",
        "z": "54c6c3bfbd6d9993",
        "name": "Weather Forecast",
        "style": {
            "stroke": "#7fb7df",
            "fill": "#bfdbef",
            "label": true,
            "fill-opacity": "0.27",
            "color": "#0070c0"
        },
        "nodes": [
            "25ea8e64778588ae",
            "4fc9ecb544f1b806",
            "5484d716effed6ba",
            "5bb01c2048ea1eac",
            "ca33adc539d22833",
            "84a3c27403220ddb",
            "5bc39fb82456f9e5",
            "cee0e5ee85a4e536",
            "81de30077de9d801",
            "2cf5b28e54a11150",
            "f594592a1eaa10df",
            "5070f3f34ecf9a44",
            "51712fd4a941ba16",
            "e912d0829f74a764",
            "952ad60128e43d6a"
        ],
        "x": 14,
        "y": 199,
        "w": 1132,
        "h": 322
    },
    {
        "id": "416bee4d9d9eb702",
        "type": "group",
        "z": "54c6c3bfbd6d9993",
        "name": "Field 4",
        "style": {
            "stroke": "#92d04f",
            "fill": "#e3f3d3",
            "fill-opacity": "0.45",
            "label": true,
            "color": "#92d04f"
        },
        "nodes": [
            "5ceb98acc42e8d72",
            "d1e087d3b2fa0462",
            "653706d3435d2bef",
            "df752048e3a84c29",
            "89d73b77b7d8eded",
            "887dc38542d3c9b0",
            "dd6a7e2206e9cf8f",
            "4ef6474985b9c820",
            "398dca16e967973f",
            "2612d21701d07108",
            "bc1c55b6eb768038",
            "7b05edc2099db09c",
            "6c0edeaec5503e4e",
            "9c0cfc42e28109a7",
            "83eda9de1787378a",
            "bdbb39ce1dcb1bed",
            "7d3c84d3c0ad03f2",
            "452c8ce5f1e4adcd",
            "77f63c69d96b02e7",
            "cb9f0458f0d50755",
            "d8ddc8706a39e573",
            "77de0cb43a52e452",
            "3db5d4eccd957785",
            "9cf8d2022219684b",
            "e8aacf5dd20812d0",
            "3facc68a200937b8",
            "61088dca915ee5e4",
            "0b1d7ad9af3b3038",
            "9bd1f68c315ab6cd",
            "3d9e04ae3c463556"
        ],
        "x": 2494,
        "y": 1659,
        "w": 1252,
        "h": 482
    },
    {
        "id": "1dcff70bb5d269ad",
        "type": "group",
        "z": "54c6c3bfbd6d9993",
        "name": "Field 3",
        "style": {
            "stroke": "#92d04f",
            "fill": "#e3f3d3",
            "fill-opacity": "0.45",
            "label": true,
            "color": "#92d04f"
        },
        "nodes": [
            "66d5abb1c370543e",
            "88642b2734029e75",
            "15371fed98f7e2fc",
            "eaf158901e0f2cdb",
            "4dc94e190a4ede38",
            "8134d6b30c491ce7",
            "bc1ca85e74c77253",
            "257733bddfb5be89",
            "64488ac3965a1f09",
            "2649d1d9728dfab1",
            "367fcca0182d22c7",
            "5e14d94b454dfb4f",
            "39f4b3c42a6cacfb",
            "5d91f6e5e4d69610",
            "f33b13558d0d16e2",
            "5964a87309788fe1",
            "34b46a30a8518f9c",
            "bc2594c6dd549e33",
            "847bc0227ad2e83d",
            "c3dcc49c6a76dd69",
            "893f13056f4abcc0",
            "af6c97e0526203de",
            "a5c0358531bc3b4a",
            "b236fbce862caad8",
            "3cf7998136f9fc6c",
            "68adb6db2bce1868",
            "5dc1e3c550eb0293",
            "cbebcdd8a82a39a9",
            "0f38ed5b37c0047d",
            "3e6601f5b230c113"
        ],
        "x": 2494,
        "y": 1179,
        "w": 1252,
        "h": 482
    },
    {
        "id": "c012487765f034fc",
        "type": "group",
        "z": "54c6c3bfbd6d9993",
        "name": "Field 2",
        "style": {
            "stroke": "#92d04f",
            "fill": "#e3f3d3",
            "fill-opacity": "0.45",
            "label": true,
            "color": "#92d04f"
        },
        "nodes": [
            "a625a7b5d253de9e",
            "9fae1729dc20277b",
            "dd4d44e6c7585e52",
            "62969b49a2c52e3c",
            "8c3642d5bf8f094e",
            "60f159cf626fd033",
            "f56f2342bfdb0995",
            "0c3d4f0f7f0cdf99",
            "7eaf695dfc212841",
            "41e8d24f03462aba",
            "15fdd082aea98212",
            "b136ba9ee0ad3e99",
            "30d2520e3b4c4ff0",
            "165f420e2a16f890",
            "9dfd1ab8f9f685c2",
            "24d7a860cf420409",
            "a80ff969cc6fe56e",
            "c6d2c2bb886af49a",
            "bd1de411f8e3f56d",
            "3e85ae98e149e719",
            "0a3188521f1658fa",
            "2d6d9e4704a073bf",
            "a807259524efcc39",
            "43ec5bfc3fa67450",
            "a772f8756c46759d",
            "87f788ebfc2a76cc",
            "04d112a720937c9b",
            "7f47620545a2d33f",
            "1ca3432fd82643b3"
        ],
        "x": 2494,
        "y": 699,
        "w": 1252,
        "h": 482
    },
    {
        "id": "354d2874de048d42",
        "type": "group",
        "z": "54c6c3bfbd6d9993",
        "name": "Field 1",
        "style": {
            "stroke": "#92d04f",
            "fill": "#e3f3d3",
            "fill-opacity": "0.45",
            "label": true,
            "color": "#92d04f"
        },
        "nodes": [
            "692c01edd179d7af",
            "acc99d2c27c31b77",
            "5707d930ecbc658a",
            "5f888fc78c5397bf",
            "ed2e3e697275deb9",
            "480155bad90585ee",
            "1686bb74cbdcc097",
            "434184b11687360f",
            "e0e6af6da425dd38",
            "84e55c67958ffc41",
            "74d898a2365dff9f",
            "238c6261662cd19e",
            "70528e820cc40d6f",
            "aa57601253ce3f61",
            "cfdf380ce4f23041",
            "7b3c4959cd3a0200",
            "5b32f69ea65e1452",
            "d893fcc9b43c3435",
            "bf3af8eb1ed36b90",
            "de7fe50bae5315a4",
            "08e5b1613c881cfe",
            "0645a30718171ddc",
            "f2b59f47bf70bf17",
            "3148fb9c4ee39dce",
            "2ddc8e2131fe76ef",
            "fcb4366de42c024c",
            "29a8338f852b62b8",
            "e6c305ef1d899cc5",
            "bd7ae576522b52e9",
            "6630f479ed1809d6"
        ],
        "x": 2494,
        "y": 219,
        "w": 1252,
        "h": 482
    },
    {
        "id": "829145b1a61a34fe",
        "type": "group",
        "z": "54c6c3bfbd6d9993",
        "name": "Catalog Registration ",
        "style": {
            "stroke": "#ffC000",
            "fill": "#ffefbf",
            "fill-opacity": "0.45",
            "label": true,
            "color": "#ffC000"
        },
        "nodes": [
            "5cabbdf8e12528c7",
            "a844af5d2f5aa171",
            "146e266e936f2d04",
            "11a009cefeb1e519",
            "b162538becd0a418"
        ],
        "x": 14,
        "y": 99,
        "w": 1032,
        "h": 82
    },
    {
        "id": "169ea57b72f1db13",
        "type": "group",
        "z": "54c6c3bfbd6d9993",
        "name": "Dashboard Style",
        "style": {
            "stroke": "#6f2fa0",
            "fill": "#dbcbe7",
            "fill-opacity": "0.45",
            "label": true,
            "color": "#6f2fa0"
        },
        "nodes": [
            "7e1230196b3f6055",
            "8ace7877e52e78f6",
            "a1b9db1458158cdb",
            "0e786d4f0e94f09a",
            "2080495962b5b255",
            "cfbfb45cc0ea0fca",
            "208e0eadd472ef69",
            "3f627e465ca4e20c"
        ],
        "x": 14,
        "y": 539,
        "w": 332,
        "h": 362
    },
    {
        "id": "753f47c82d92d3bf",
        "type": "group",
        "z": "54c6c3bfbd6d9993",
        "name": "Buttons",
        "style": {
            "stroke": "#ff0000",
            "fill": "#ffbfbf",
            "fill-opacity": "0.45",
            "label": true,
            "color": "#ff0000"
        },
        "nodes": [
            "bd132edf0762af73",
            "c6888d41c8d468c3",
            "7f67f2f4899a9a2a",
            "ca2143976e294b36",
            "559190b99c290935",
            "44d905bc4b56f5a3",
            "6378cf9c524cc11f",
            "d8caa7c2760a8025",
            "6749db2c396a80c2",
            "e1a82cbae25fdb28"
        ],
        "x": 494,
        "y": 639,
        "w": 632,
        "h": 262
    },
    {
        "id": "6de25c967950bdcd",
        "type": "group",
        "z": "54c6c3bfbd6d9993",
        "name": "Consumption Chart",
        "style": {
            "stroke": "#ff0000",
            "fill": "#ffbfbf",
            "fill-opacity": "0.45",
            "label": true,
            "color": "#ff0000"
        },
        "nodes": [
            "25062c6d6c024ad0",
            "5f104faee7795fa0"
        ],
        "x": 2034,
        "y": 339,
        "w": 432,
        "h": 82
    },
    {
        "id": "be4dab2fd84694fb",
        "type": "group",
        "z": "54c6c3bfbd6d9993",
        "name": "Messages",
        "style": {
            "stroke": "#6f2fa0",
            "fill": "#dbcbe7",
            "fill-opacity": "0.45",
            "label": true,
            "color": "#6f2fa0"
        },
        "nodes": [
            "09991aed2096e866",
            "c2ef5a9debc98b46"
        ],
        "x": 2034,
        "y": 219,
        "w": 332,
        "h": 82
    },
    {
        "id": "cfbf5bffbaa84de7",
        "type": "ui_tab",
        "name": "Field 1",
        "icon": "fa-tree",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "698e01817b646764",
        "type": "ui_tab",
        "name": "Home",
        "icon": "fa-th",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "915f7ddef7cd3dd6",
        "type": "ui_tab",
        "name": "Field 2",
        "icon": "fa-tree",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "86c8368f92b091d5",
        "type": "ui_tab",
        "name": "Field 3",
        "icon": "fa-tree",
        "order": 6,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5109d4cb16cb06c6",
        "type": "ui_tab",
        "name": "Field 4",
        "icon": "fa-tree",
        "order": 7,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e63bce2d.68925",
        "type": "ui_tab",
        "name": "Denon",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": true
    },
    {
        "id": "78956960e46b2a2e",
        "type": "ui_group",
        "name": "Sensors",
        "tab": "cfbf5bffbaa84de7",
        "order": 3,
        "disp": true,
        "width": "7",
        "collapse": true,
        "className": ""
    },
    {
        "id": "6fd2c0e41aa3f4f8",
        "type": "ui_group",
        "name": "Messages",
        "tab": "698e01817b646764",
        "order": 3,
        "disp": false,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f1b999f5373c31d8",
        "type": "ui_group",
        "name": "Actuators",
        "tab": "cfbf5bffbaa84de7",
        "order": 1,
        "disp": true,
        "width": "7",
        "collapse": true,
        "className": ""
    },
    {
        "id": "5e32d1811541c3ed",
        "type": "ui_group",
        "name": "Actuators",
        "tab": "915f7ddef7cd3dd6",
        "order": 1,
        "disp": true,
        "width": "7",
        "collapse": true,
        "className": ""
    },
    {
        "id": "99dca6761e2d9c28",
        "type": "ui_group",
        "name": "Sensors",
        "tab": "915f7ddef7cd3dd6",
        "order": 3,
        "disp": true,
        "width": "7",
        "collapse": true,
        "className": ""
    },
    {
        "id": "d4d16815f75585a6",
        "type": "ui_group",
        "name": "Actuators",
        "tab": "86c8368f92b091d5",
        "order": 1,
        "disp": true,
        "width": "7",
        "collapse": true,
        "className": ""
    },
    {
        "id": "76c122f563a2790b",
        "type": "ui_group",
        "name": "Sensors",
        "tab": "86c8368f92b091d5",
        "order": 3,
        "disp": true,
        "width": "7",
        "collapse": true,
        "className": ""
    },
    {
        "id": "63c960e3ff3fcba6",
        "type": "ui_group",
        "name": "Actuators",
        "tab": "5109d4cb16cb06c6",
        "order": 1,
        "disp": true,
        "width": "7",
        "collapse": true,
        "className": ""
    },
    {
        "id": "dca27f708d79a283",
        "type": "ui_group",
        "name": "Sensors",
        "tab": "5109d4cb16cb06c6",
        "order": 3,
        "disp": true,
        "width": "7",
        "collapse": true,
        "className": ""
    },
    {
        "id": "2a745e6b.07df92",
        "type": "ui_group",
        "name": "Default",
        "tab": "e63bce2d.68925",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "31de8e5b82691490",
        "type": "ui_group",
        "name": "Weather",
        "tab": "698e01817b646764",
        "order": 2,
        "disp": false,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cdd0e15889b1286d",
        "type": "ui_group",
        "name": "Home",
        "tab": "698e01817b646764",
        "order": 1,
        "disp": false,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "dc85dc3382f47ab2",
        "type": "ui_group",
        "name": "Localization",
        "tab": "698e01817b646764",
        "order": 5,
        "disp": false,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "034412fb686048d4",
        "type": "ui_group",
        "name": "Consumption",
        "tab": "698e01817b646764",
        "order": 4,
        "disp": false,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7be7122d6aee8c4b",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#6dbd66",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#6dbd66",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#a0d49b",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#6dbd66",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "IoTomatoes Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "menu",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 200,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "75ce0633973f49ff",
        "type": "mqtt-broker",
        "name": "internal",
        "broker": "http://mosquitto:1883",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "6953e4180efb4601",
        "type": "ui_tab",
        "name": "Log in",
        "icon": "fa-sign-in",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "cdbcaf9bc51ad72e",
        "type": "ui_group",
        "name": "Log in",
        "tab": "6953e4180efb4601",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4bed3390.45d6dc",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "09991aed2096e866",
        "type": "function",
        "z": "54c6c3bfbd6d9993",
        "g": "be4dab2fd84694fb",
        "name": "addRow",
        "func": "var time = msg.mydom + \"/\" + msg.mymonthn + \"/\"+ msg.myyear + \" \" + msg.mytime\n\nmsg.payload =\n{\n    command: \"addRow\",\n    arguments: [\n        {\n            \"time\": time,\n            \"message\": msg.payload.msg,\n            \"type\": msg.payload.msgType\n        },\n        false\n    ],\n    returnPromise: true\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2120,
        "y": 260,
        "wires": [
            [
                "c2ef5a9debc98b46"
            ]
        ]
    },
    {
        "id": "a24466573364dc7d",
        "type": "mqtt in",
        "z": "54c6c3bfbd6d9993",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "75ce0633973f49ff",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 1190,
        "y": 1180,
        "wires": [
            [
                "a2ec836806c27a0d",
                "8b93c60fe82d1418"
            ]
        ]
    },
    {
        "id": "692c01edd179d7af",
        "type": "switch",
        "z": "54c6c3bfbd6d9993",
        "g": "354d2874de048d42",
        "name": "SelectMeasurement",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "temperature",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "humidity",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "soilMoisture",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "light",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "pump",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "led",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 2780,
        "y": 520,
        "wires": [
            [
                "08e5b1613c881cfe"
            ],
            [
                "0645a30718171ddc"
            ],
            [
                "f2b59f47bf70bf17"
            ],
            [
                "3148fb9c4ee39dce"
            ],
            [
                "2ddc8e2131fe76ef",
                "acc99d2c27c31b77"
            ],
            [
                "fcb4366de42c024c",
                "5707d930ecbc658a"
            ]
        ]
    },
    {
        "id": "a625a7b5d253de9e",
        "type": "switch",
        "z": "54c6c3bfbd6d9993",
        "g": "c012487765f034fc",
        "name": "SelectMeasurement",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "temperature",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "humidity",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "soilMoisture",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "light",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "pump",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "led",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 2780,
        "y": 1000,
        "wires": [
            [
                "0a3188521f1658fa"
            ],
            [
                "2d6d9e4704a073bf"
            ],
            [
                "a807259524efcc39"
            ],
            [
                "43ec5bfc3fa67450"
            ],
            [
                "a772f8756c46759d",
                "9fae1729dc20277b"
            ],
            [
                "87f788ebfc2a76cc",
                "dd4d44e6c7585e52"
            ]
        ]
    },
    {
        "id": "008d41bd477c76cd",
        "type": "switch",
        "z": "54c6c3bfbd6d9993",
        "name": "SelectField",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 2190,
        "y": 1180,
        "wires": [
            [
                "5f888fc78c5397bf"
            ],
            [
                "62969b49a2c52e3c"
            ],
            [
                "eaf158901e0f2cdb"
            ],
            [
                "df752048e3a84c29"
            ]
        ]
    },
    {
        "id": "66d5abb1c370543e",
        "type": "switch",
        "z": "54c6c3bfbd6d9993",
        "g": "1dcff70bb5d269ad",
        "name": "SelectMeasurement",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "temperature",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "humidity",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "soilMoisture",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "light",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "pump",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "led",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 2780,
        "y": 1480,
        "wires": [
            [
                "893f13056f4abcc0"
            ],
            [
                "af6c97e0526203de"
            ],
            [
                "a5c0358531bc3b4a"
            ],
            [
                "b236fbce862caad8"
            ],
            [
                "3cf7998136f9fc6c",
                "88642b2734029e75"
            ],
            [
                "68adb6db2bce1868",
                "15371fed98f7e2fc"
            ]
        ]
    },
    {
        "id": "5ceb98acc42e8d72",
        "type": "switch",
        "z": "54c6c3bfbd6d9993",
        "g": "416bee4d9d9eb702",
        "name": "SelectMeasurement",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "temperature",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "humidity",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "soilMoisture",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "light",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "pump",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "led",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 2780,
        "y": 1960,
        "wires": [
            [
                "d8ddc8706a39e573"
            ],
            [
                "77de0cb43a52e452"
            ],
            [
                "3db5d4eccd957785"
            ],
            [
                "9cf8d2022219684b"
            ],
            [
                "e8aacf5dd20812d0",
                "d1e087d3b2fa0462"
            ],
            [
                "3facc68a200937b8",
                "653706d3435d2bef"
            ]
        ]
    },
    {
        "id": "a1dc62aa44201866",
        "type": "debug",
        "z": "54c6c3bfbd6d9993",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 1580,
        "wires": []
    },
    {
        "id": "25ea8e64778588ae",
        "type": "function",
        "z": "54c6c3bfbd6d9993",
        "g": "08d0724ddf5b999b",
        "name": "Format forecast data",
        "func": "var fcdata = {}; \nvar units=flow.get('units');\nif (units===undefined)\n{\n  units=\"imperial\";\n}\n\nfunction formatTemp(high, low){\n  var temp\n    if (units == \"imperial\") {\n        if (low){\n          temp = Math.round(parseFloat(high)) + '/' + Math.round(parseFloat(low))\n        }\n        else {\n          temp = Math.round(parseFloat(high)) + '째F'\n        }\n    }\n    else { // metric\n        if (low){\n          temp = Math.round(parseFloat(high)) + '/' + Math.round(parseFloat(low))\n        }\n        else {\n          temp = Math.round(parseFloat(high)) + '째C'\n        }\n    }\n    return temp;\n}\n\nfunction dayName(unixTime){\n  var dateObject = new Date(unixTime * 1000);\n  return dateObject.toLocaleString(flow.get('lang'), { timezone: msg.payload.timezone, weekday: 'short'});\n  // If the line above is not producing the correct short weekday names for the language set by 'lang',\n  //   you can try upgrading to NodeJS version 13 or higher (when full international support was added for the toLocaleString function),\n  //   or you can use the code below which is an example for French short weekday names.\n  /*\n  switch (dateObject.toLocaleString('en', { timezone: msg.payload.timezone, weekday: 'short'})) {\n    case 'Mon':\n      return 'Lun';\n    case 'Tue':\n      return 'Mar';\n    case 'Wed':\n      return 'Mer';\n    case 'Thu':\n      return 'Jeu';\n    case 'Fri':\n      return 'Ven';\n    case 'Sat':\n      return 'Sam';\n    case 'Sun':\n      return 'Dim';\n  }\n*/\n}\n\nfunction timeConvert(UNIX_timestamp){\n  var dateObject = new Date(UNIX_timestamp * 1000);\n  if (flow.get('hour12')) {  // 12 hour time format\n    return dateObject.toLocaleString('en', { timezone: msg.payload.timezone, hour12: true, hour: 'numeric'}).toLowerCase();\n  } else {  // 24 hour time format\n    return dateObject.toLocaleString('en', { timezone: msg.payload.timezone, hour12: false, hour: 'numeric'}) + ':00';\n  }      \n}\n\n// prepare forecast data for CSS based ui widget\nfcdata.payload = {\n  rowtext: {\n  \tdata01: {\n      cell01: timeConvert(msg.payload.dt)\n  \t},\n  \tdata02: {\n      cell01: formatTemp(msg.payload.main.temp)\n  \t}\n  },\n  rowicons: {\n  \tdata01: {\n  \t\tcell01: msg.payload.weather[0].icon\n  \t}\n  }\n}\n\nreturn fcdata;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 480,
        "wires": [
            [
                "952ad60128e43d6a"
            ]
        ]
    },
    {
        "id": "4fc9ecb544f1b806",
        "type": "http request",
        "z": "54c6c3bfbd6d9993",
        "g": "08d0724ddf5b999b",
        "name": "Get OWM data",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "query",
        "url": "https://api.openweathermap.org/data/2.5/weather?id=524901&",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 500,
        "y": 360,
        "wires": [
            [
                "5bb01c2048ea1eac",
                "25ea8e64778588ae"
            ]
        ]
    },
    {
        "id": "5484d716effed6ba",
        "type": "inject",
        "z": "54c6c3bfbd6d9993",
        "g": "08d0724ddf5b999b",
        "name": "Trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "600",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 120,
        "y": 420,
        "wires": [
            [
                "ca33adc539d22833"
            ]
        ]
    },
    {
        "id": "5bb01c2048ea1eac",
        "type": "function",
        "z": "54c6c3bfbd6d9993",
        "g": "08d0724ddf5b999b",
        "name": "Format current data",
        "func": "var icon = {}; \n\nvar units = flow.get('units');\nif (units === undefined) {units = 'imperial';}\n\nfunction timeConvert(UNIX_timestamp){\n  var dateObject = new Date(UNIX_timestamp * 1000);\n  if (flow.get('hour12')) {  // 12 hour time format\n    return dateObject.toLocaleString('en', { timezone: msg.payload.timezone, hour12: true, hour: 'numeric', minute: '2-digit'}).toLowerCase();\n  } else {  // 24 hour time format\n    return dateObject.toLocaleString('en', { timezone: msg.payload.timezone, hour12: false, hour: 'numeric', minute: '2-digit'});\n  }      \n}\n\nvar degreesToCardinal = function(deg){\n  if (deg>11.25 && deg<=33.75){return \"NNE\";}\n  else if (deg>33.75 && deg<56.25){return \"NE\";}\n  else if (deg>56.25 && deg<78.75){return \"ENE\";}\n  else if (deg>78.75 && deg<101.25){return \"E\";}\n  else if (deg>101.25 && deg<123.75){return \"ESE\";}\n  else if (deg>123.75 && deg<146.25){return \"SE\";}\n  else if (deg>146.25 && deg<168.75){return \"SSE\";}\n  else if (deg>168.75 && deg<191.25){return \"S\";}\n  else if (deg>191.25 && deg<213.75){return \"SSW\";}\n  else if (deg>213.75 && deg<236.25){return \"SW\";}\n  else if (deg>236.25 && deg<258.75){return \"WSW\";}\n  else if (deg>258.75 && deg<281.25){return \"W\";}\n  else if (deg>281.25 && deg<303.75){return \"WNW\";}\n  else if (deg>303.75 && deg<326.25){return \"NW\";}\n  else if (deg>326.25 && deg<348.75){return \"NNW\";}\n  else {return \"N\";}\n}\n\nif (units == \"imperial\")\n{\n  msg.payload.main.temp = Math.round(msg.payload.main.temp) + ' 째F';\n  msg.payload.wind.speed = Math.round(msg.payload.wind.speed) + ' mph';\n}\nelse  // metric units\n{\n  msg.payload.main.temp = Math.round(msg.payload.main.temp) + ' 째C';\n  msg.payload.wind.speed = Math.round(msg.payload.wind.speed) + ' m/s';\n}\n\nmsg.payload.wind.cardinal = degreesToCardinal(msg.payload.wind.deg);\n\nmsg.payload.sys.sunrise = timeConvert(msg.payload.sys.sunrise);\nmsg.payload.sys.sunset = timeConvert(msg.payload.sys.sunset);\n\nvar iconString = 'wi-owm-' + msg.payload.weather[0].icon + ' wi-4x';\nicon = {\n    ui_control: {\n        icon: iconString\n    }\n}; \n\nreturn [msg, icon];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 360,
        "wires": [
            [
                "51712fd4a941ba16",
                "2cf5b28e54a11150",
                "81de30077de9d801",
                "f594592a1eaa10df",
                "5070f3f34ecf9a44"
            ],
            [
                "cee0e5ee85a4e536"
            ]
        ]
    },
    {
        "id": "ca33adc539d22833",
        "type": "change",
        "z": "54c6c3bfbd6d9993",
        "g": "08d0724ddf5b999b",
        "name": "Settings",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.lat",
                "pt": "msg",
                "to": "44.98",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.lon",
                "pt": "msg",
                "to": "7.5",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.appid",
                "pt": "msg",
                "to": "450855706b3e765267db8b857ecd5601",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.units",
                "pt": "msg",
                "to": "metric",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.lang",
                "pt": "msg",
                "to": "en",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "hour12",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "units",
                "pt": "flow",
                "to": "payload.units",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "lang",
                "pt": "flow",
                "to": "payload.lang",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.exclude",
                "pt": "msg",
                "to": "minutely",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 360,
        "wires": [
            [
                "4fc9ecb544f1b806"
            ]
        ]
    },
    {
        "id": "acc99d2c27c31b77",
        "type": "trigger",
        "z": "54c6c3bfbd6d9993",
        "g": "354d2874de048d42",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-100",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 3100,
        "y": 580,
        "wires": [
            [
                "bf3af8eb1ed36b90"
            ]
        ]
    },
    {
        "id": "5707d930ecbc658a",
        "type": "trigger",
        "z": "54c6c3bfbd6d9993",
        "g": "354d2874de048d42",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-100",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 3100,
        "y": 660,
        "wires": [
            [
                "de7fe50bae5315a4"
            ]
        ]
    },
    {
        "id": "9fae1729dc20277b",
        "type": "trigger",
        "z": "54c6c3bfbd6d9993",
        "g": "c012487765f034fc",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-100",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 3100,
        "y": 1060,
        "wires": [
            [
                "9dfd1ab8f9f685c2"
            ]
        ]
    },
    {
        "id": "dd4d44e6c7585e52",
        "type": "trigger",
        "z": "54c6c3bfbd6d9993",
        "g": "c012487765f034fc",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-100",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 3100,
        "y": 1140,
        "wires": [
            [
                "24d7a860cf420409"
            ]
        ]
    },
    {
        "id": "88642b2734029e75",
        "type": "trigger",
        "z": "54c6c3bfbd6d9993",
        "g": "1dcff70bb5d269ad",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-100",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 3100,
        "y": 1540,
        "wires": [
            [
                "f33b13558d0d16e2"
            ]
        ]
    },
    {
        "id": "15371fed98f7e2fc",
        "type": "trigger",
        "z": "54c6c3bfbd6d9993",
        "g": "1dcff70bb5d269ad",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-100",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 3100,
        "y": 1620,
        "wires": [
            [
                "5964a87309788fe1"
            ]
        ]
    },
    {
        "id": "d1e087d3b2fa0462",
        "type": "trigger",
        "z": "54c6c3bfbd6d9993",
        "g": "416bee4d9d9eb702",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-100",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 3100,
        "y": 2020,
        "wires": [
            [
                "83eda9de1787378a"
            ]
        ]
    },
    {
        "id": "653706d3435d2bef",
        "type": "trigger",
        "z": "54c6c3bfbd6d9993",
        "g": "416bee4d9d9eb702",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-100",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 3100,
        "y": 2100,
        "wires": [
            [
                "bdbb39ce1dcb1bed"
            ]
        ]
    },
    {
        "id": "84a3c27403220ddb",
        "type": "link in",
        "z": "54c6c3bfbd6d9993",
        "g": "08d0724ddf5b999b",
        "name": "",
        "links": [
            "5bc39fb82456f9e5",
            "fab7484d5ad0b452"
        ],
        "x": 55,
        "y": 360,
        "wires": [
            [
                "ca33adc539d22833"
            ]
        ]
    },
    {
        "id": "5bc39fb82456f9e5",
        "type": "link out",
        "z": "54c6c3bfbd6d9993",
        "g": "08d0724ddf5b999b",
        "name": "Refresh",
        "links": [
            "84a3c27403220ddb"
        ],
        "x": 1105,
        "y": 440,
        "wires": []
    },
    {
        "id": "bd132edf0762af73",
        "type": "change",
        "z": "54c6c3bfbd6d9993",
        "g": "753f47c82d92d3bf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Bot",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 740,
        "wires": [
            [
                "44d905bc4b56f5a3"
            ]
        ]
    },
    {
        "id": "f9394e0b13dbfd18",
        "type": "switch",
        "z": "54c6c3bfbd6d9993",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "msg",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "consumption",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1930,
        "y": 320,
        "wires": [
            [
                "09991aed2096e866"
            ],
            [
                "25062c6d6c024ad0"
            ]
        ]
    },
    {
        "id": "25062c6d6c024ad0",
        "type": "change",
        "z": "54c6c3bfbd6d9993",
        "g": "6de25c967950bdcd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.tot_consumption",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2140,
        "y": 380,
        "wires": [
            [
                "5f104faee7795fa0"
            ]
        ]
    },
    {
        "id": "c9a79b5a16416bb1",
        "type": "function",
        "z": "54c6c3bfbd6d9993",
        "name": "createTopic",
        "func": "var companyName = msg.payload.companyName\nmsg.topic = companyName + \"/#\"\nmsg.action = \"subscribe\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 1180,
        "wires": [
            [
                "a24466573364dc7d"
            ]
        ]
    },
    {
        "id": "a2ec836806c27a0d",
        "type": "function",
        "z": "54c6c3bfbd6d9993",
        "name": "ParsingField",
        "func": "if ('fieldNumber' in msg.payload){\n    msg.topic = msg.payload.fieldNumber \n}\n    \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1670,
        "y": 1180,
        "wires": [
            [
                "008d41bd477c76cd"
            ]
        ]
    },
    {
        "id": "62969b49a2c52e3c",
        "type": "function",
        "z": "54c6c3bfbd6d9993",
        "g": "c012487765f034fc",
        "name": "ParseType",
        "func": "if ('bn' in msg.payload) {\n    if (msg.payload.bn != \"consumption_manager\") {\n        if ('e' in msg.payload) {\n            if ('u' in msg.payload.e.at(-1)) {\n                msg.topic = msg.payload.e.at(-1).n\n                msg.payload = msg.payload.e.at(-1).v\n            }\n        }\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2590,
        "y": 1000,
        "wires": [
            [
                "a625a7b5d253de9e"
            ]
        ]
    },
    {
        "id": "5f888fc78c5397bf",
        "type": "function",
        "z": "54c6c3bfbd6d9993",
        "g": "354d2874de048d42",
        "name": "ParseType",
        "func": "if ('bn' in msg.payload) {\n    if (msg.payload.bn != \"consumption_manager\") {\n        if ('e' in msg.payload) {\n            if ('u' in msg.payload.e.at(-1)) {\n                msg.topic = msg.payload.e.at(-1).n\n                msg.payload = msg.payload.e.at(-1).v\n            }\n        }\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2590,
        "y": 520,
        "wires": [
            [
                "692c01edd179d7af"
            ]
        ]
    },
    {
        "id": "eaf158901e0f2cdb",
        "type": "function",
        "z": "54c6c3bfbd6d9993",
        "g": "1dcff70bb5d269ad",
        "name": "ParseType",
        "func": "if ('bn' in msg.payload) {\n    if (msg.payload.bn != \"consumption_manager\") {\n        if ('e' in msg.payload) {\n            if ('u' in msg.payload.e.at(-1)) {\n                msg.topic = msg.payload.e.at(-1).n\n                msg.payload = msg.payload.e.at(-1).v\n            }\n        }\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2590,
        "y": 1480,
        "wires": [
            [
                "66d5abb1c370543e"
            ]
        ]
    },
    {
        "id": "df752048e3a84c29",
        "type": "function",
        "z": "54c6c3bfbd6d9993",
        "g": "416bee4d9d9eb702",
        "name": "ParseType",
        "func": "if ('bn' in msg.payload) {\n    if (msg.payload.bn != \"consumption_manager\") {\n        if ('e' in msg.payload) {\n            if ('u' in msg.payload.e.at(-1)) {\n                msg.topic = msg.payload.e.at(-1).n\n                msg.payload = msg.payload.e.at(-1).v\n            }\n        }\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2590,
        "y": 1960,
        "wires": [
            [
                "5ceb98acc42e8d72"
            ]
        ]
    },
    {
        "id": "ed2e3e697275deb9",
        "type": "function",
        "z": "54c6c3bfbd6d9993",
        "g": "354d2874de048d42",
        "name": "round",
        "func": "msg.payload = Math.round(msg.payload * 100) / 100\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3410,
        "y": 340,
        "wires": [
            [
                "74d898a2365dff9f",
                "cfdf380ce4f23041"
            ]
        ]
    },
    {
        "id": "480155bad90585ee",
        "type": "function",
        "z": "54c6c3bfbd6d9993",
        "g": "354d2874de048d42",
        "name": "round",
        "func": "msg.payload = Math.round(msg.payload * 100) / 100\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3410,
        "y": 380,
        "wires": [
            [
                "238c6261662cd19e",
                "7b3c4959cd3a0200"
            ]
        ]
    },
    {
        "id": "1686bb74cbdcc097",
        "type": "function",
        "z": "54c6c3bfbd6d9993",
        "g": "354d2874de048d42",
        "name": "round",
        "func": "msg.payload = Math.round(msg.payload * 100) / 100\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3410,
        "y": 420,
        "wires": [
            [
                "70528e820cc40d6f",
                "5b32f69ea65e1452"
            ]
        ]
    },
    {
        "id": "434184b11687360f",
        "type": "function",
        "z": "54c6c3bfbd6d9993",
        "g": "354d2874de048d42",
        "name": "round",
        "func": "msg.payload = Math.round(msg.payload * 100) / 100\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3410,
        "y": 460,
        "wires": [
            [
                "aa57601253ce3f61",
                "d893fcc9b43c3435"
            ]
        ]
    },
    {
        "id": "8c3642d5bf8f094e",
        "type": "function",
        "z": "54c6c3bfbd6d9993",
        "g": "c012487765f034fc",
        "name": "round",
        "func": "msg.payload = Math.round(msg.payload * 100) / 100\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3410,
        "y": 820,
        "wires": [
            [
                "15fdd082aea98212",
                "a80ff969cc6fe56e"
            ]
        ]
    },
    {
        "id": "60f159cf626fd033",
        "type": "function",
        "z": "54c6c3bfbd6d9993",
        "g": "c012487765f034fc",
        "name": "round",
        "func": "msg.payload = Math.round(msg.payload * 100) / 100\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3410,
        "y": 860,
        "wires": [
            [
                "b136ba9ee0ad3e99",
                "c6d2c2bb886af49a"
            ]
        ]
    },
    {
        "id": "f56f2342bfdb0995",
        "type": "function",
        "z": "54c6c3bfbd6d9993",
        "g": "c012487765f034fc",
        "name": "round",
        "func": "msg.payload = Math.round(msg.payload * 100) / 100\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3410,
        "y": 900,
        "wires": [
            [
                "30d2520e3b4c4ff0"
            ]
        ]
    },
    {
        "id": "0c3d4f0f7f0cdf99",
        "type": "function",
        "z": "54c6c3bfbd6d9993",
        "g": "c012487765f034fc",
        "name": "round",
        "func": "msg.payload = Math.round(msg.payload * 100) / 100\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3410,
        "y": 940,
        "wires": [
            [
                "bd1de411f8e3f56d",
                "165f420e2a16f890",
                "3e85ae98e149e719"
            ]
        ]
    },
    {
        "id": "4dc94e190a4ede38",
        "type": "function",
        "z": "54c6c3bfbd6d9993",
        "g": "1dcff70bb5d269ad",
        "name": "round",
        "func": "msg.payload = Math.round(msg.payload * 100) / 100\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3410,
        "y": 1300,
        "wires": [
            [
                "367fcca0182d22c7",
                "34b46a30a8518f9c"
            ]
        ]
    },
    {
        "id": "8134d6b30c491ce7",
        "type": "function",
        "z": "54c6c3bfbd6d9993",
        "g": "1dcff70bb5d269ad",
        "name": "round",
        "func": "msg.payload = Math.round(msg.payload * 100) / 100\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3410,
        "y": 1340,
        "wires": [
            [
                "5e14d94b454dfb4f",
                "bc2594c6dd549e33"
            ]
        ]
    },
    {
        "id": "bc1ca85e74c77253",
        "type": "function",
        "z": "54c6c3bfbd6d9993",
        "g": "1dcff70bb5d269ad",
        "name": "round",
        "func": "msg.payload = Math.round(msg.payload * 100) / 100\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3410,
        "y": 1380,
        "wires": [
            [
                "39f4b3c42a6cacfb",
                "847bc0227ad2e83d"
            ]
        ]
    },
    {
        "id": "257733bddfb5be89",
        "type": "function",
        "z": "54c6c3bfbd6d9993",
        "g": "1dcff70bb5d269ad",
        "name": "round",
        "func": "msg.payload = Math.round(msg.payload * 100) / 100\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3410,
        "y": 1420,
        "wires": [
            [
                "5d91f6e5e4d69610",
                "c3dcc49c6a76dd69"
            ]
        ]
    },
    {
        "id": "89d73b77b7d8eded",
        "type": "function",
        "z": "54c6c3bfbd6d9993",
        "g": "416bee4d9d9eb702",
        "name": "round",
        "func": "msg.payload = Math.round(msg.payload * 100) / 100\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3410,
        "y": 1780,
        "wires": [
            [
                "bc1c55b6eb768038",
                "7d3c84d3c0ad03f2"
            ]
        ]
    },
    {
        "id": "887dc38542d3c9b0",
        "type": "function",
        "z": "54c6c3bfbd6d9993",
        "g": "416bee4d9d9eb702",
        "name": "round",
        "func": "msg.payload = Math.round(msg.payload * 100) / 100\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3410,
        "y": 1820,
        "wires": [
            [
                "7b05edc2099db09c",
                "452c8ce5f1e4adcd"
            ]
        ]
    },
    {
        "id": "dd6a7e2206e9cf8f",
        "type": "function",
        "z": "54c6c3bfbd6d9993",
        "g": "416bee4d9d9eb702",
        "name": "round",
        "func": "msg.payload = Math.round(msg.payload * 100) / 100\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3410,
        "y": 1860,
        "wires": [
            [
                "6c0edeaec5503e4e",
                "77f63c69d96b02e7"
            ]
        ]
    },
    {
        "id": "4ef6474985b9c820",
        "type": "function",
        "z": "54c6c3bfbd6d9993",
        "g": "416bee4d9d9eb702",
        "name": "round",
        "func": "msg.payload = Math.round(msg.payload * 100) / 100\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3410,
        "y": 1900,
        "wires": [
            [
                "9c0cfc42e28109a7",
                "cb9f0458f0d50755"
            ]
        ]
    },
    {
        "id": "8b93c60fe82d1418",
        "type": "function",
        "z": "54c6c3bfbd6d9993",
        "name": "Parser",
        "func": "if ('msg' in msg.payload){\n    msg.topic = \"msg\"\n}\nelse if ('tot_consumption' in msg.payload){\n    msg.topic = \"consumption\"\n}\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1570,
        "y": 320,
        "wires": [
            [
                "cac34d559af9f3e4"
            ]
        ]
    },
    {
        "id": "cee0e5ee85a4e536",
        "type": "ui_button",
        "z": "54c6c3bfbd6d9993",
        "g": "08d0724ddf5b999b",
        "name": "IconRefresh",
        "group": "31de8e5b82691490",
        "order": 1,
        "width": 2,
        "height": 2,
        "passthru": false,
        "label": "",
        "tooltip": "Refresh",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-refresh fa-4x",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "topicType": "str",
        "x": 990,
        "y": 440,
        "wires": [
            [
                "5bc39fb82456f9e5"
            ]
        ]
    },
    {
        "id": "c6888d41c8d468c3",
        "type": "ui_button",
        "z": "54c6c3bfbd6d9993",
        "g": "753f47c82d92d3bf",
        "name": "",
        "group": "cdd0e15889b1286d",
        "order": 2,
        "width": 2,
        "height": 2,
        "passthru": false,
        "label": "LOG OUT",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-sign-out fa-2x",
        "payload": "1",
        "payloadType": "str",
        "topic": "button",
        "topicType": "str",
        "x": 580,
        "y": 680,
        "wires": [
            [
                "d8caa7c2760a8025"
            ]
        ]
    },
    {
        "id": "7f67f2f4899a9a2a",
        "type": "ui_button",
        "z": "54c6c3bfbd6d9993",
        "g": "753f47c82d92d3bf",
        "name": "",
        "group": "cdd0e15889b1286d",
        "order": 5,
        "width": 7,
        "height": 1,
        "passthru": false,
        "label": "IoTomatoes Bot",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-telegram fa-2x",
        "payload": "Bot",
        "payloadType": "str",
        "topic": "button",
        "topicType": "str",
        "x": 600,
        "y": 740,
        "wires": [
            [
                "bd132edf0762af73"
            ]
        ]
    },
    {
        "id": "ca2143976e294b36",
        "type": "ui_button",
        "z": "54c6c3bfbd6d9993",
        "g": "753f47c82d92d3bf",
        "name": "MapRefresh",
        "group": "dc85dc3382f47ab2",
        "order": 1,
        "width": 7,
        "height": 1,
        "passthru": false,
        "label": "Refresh Map",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-refresh fa-2x",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "topicType": "str",
        "x": 590,
        "y": 800,
        "wires": [
            [
                "e1a82cbae25fdb28"
            ]
        ]
    },
    {
        "id": "e0e6af6da425dd38",
        "type": "ui_text",
        "z": "54c6c3bfbd6d9993",
        "g": "354d2874de048d42",
        "group": "f1b999f5373c31d8",
        "order": 2,
        "width": 3,
        "height": 2,
        "name": "Pumps1",
        "label": "",
        "format": "Pumps",
        "layout": "col-center",
        "className": "experiment wibble",
        "x": 3220,
        "y": 540,
        "wires": []
    },
    {
        "id": "84e55c67958ffc41",
        "type": "ui_text",
        "z": "54c6c3bfbd6d9993",
        "g": "354d2874de048d42",
        "group": "f1b999f5373c31d8",
        "order": 5,
        "width": 3,
        "height": 2,
        "name": "Led1",
        "label": "",
        "format": "Leds",
        "layout": "col-center",
        "className": "experiment wibble",
        "x": 3190,
        "y": 620,
        "wires": []
    },
    {
        "id": "7eaf695dfc212841",
        "type": "ui_text",
        "z": "54c6c3bfbd6d9993",
        "g": "c012487765f034fc",
        "group": "5e32d1811541c3ed",
        "order": 2,
        "width": 3,
        "height": 2,
        "name": "Pumps2",
        "label": "",
        "format": "Pumps",
        "layout": "col-center",
        "className": "experiment wibble",
        "x": 3220,
        "y": 1020,
        "wires": []
    },
    {
        "id": "41e8d24f03462aba",
        "type": "ui_text",
        "z": "54c6c3bfbd6d9993",
        "g": "c012487765f034fc",
        "group": "5e32d1811541c3ed",
        "order": 5,
        "width": 3,
        "height": 2,
        "name": "Led",
        "label": "",
        "format": "Leds",
        "layout": "col-center",
        "className": "experiment wibble",
        "x": 3190,
        "y": 1100,
        "wires": []
    },
    {
        "id": "64488ac3965a1f09",
        "type": "ui_text",
        "z": "54c6c3bfbd6d9993",
        "g": "1dcff70bb5d269ad",
        "group": "d4d16815f75585a6",
        "order": 2,
        "width": 3,
        "height": 2,
        "name": "Pumps3",
        "label": "",
        "format": "Pumps",
        "layout": "col-center",
        "className": "experiment wibble",
        "x": 3220,
        "y": 1500,
        "wires": []
    },
    {
        "id": "2649d1d9728dfab1",
        "type": "ui_text",
        "z": "54c6c3bfbd6d9993",
        "g": "1dcff70bb5d269ad",
        "group": "d4d16815f75585a6",
        "order": 5,
        "width": 3,
        "height": 2,
        "name": "Led3",
        "label": "",
        "format": "Leds",
        "layout": "col-center",
        "className": "experiment wibble",
        "x": 3190,
        "y": 1580,
        "wires": []
    },
    {
        "id": "398dca16e967973f",
        "type": "ui_text",
        "z": "54c6c3bfbd6d9993",
        "g": "416bee4d9d9eb702",
        "group": "63c960e3ff3fcba6",
        "order": 2,
        "width": 3,
        "height": 2,
        "name": "Pumps4",
        "label": "",
        "format": "Pumps",
        "layout": "col-center",
        "className": "experiment wibble",
        "x": 3220,
        "y": 1980,
        "wires": []
    },
    {
        "id": "2612d21701d07108",
        "type": "ui_text",
        "z": "54c6c3bfbd6d9993",
        "g": "416bee4d9d9eb702",
        "group": "63c960e3ff3fcba6",
        "order": 5,
        "width": 3,
        "height": 2,
        "name": "Led4",
        "label": "",
        "format": "Leds",
        "layout": "col-center",
        "className": "experiment wibble",
        "x": 3190,
        "y": 2060,
        "wires": []
    },
    {
        "id": "81de30077de9d801",
        "type": "ui_text",
        "z": "54c6c3bfbd6d9993",
        "g": "08d0724ddf5b999b",
        "group": "31de8e5b82691490",
        "order": 7,
        "width": 2,
        "height": 1,
        "name": "Description",
        "label": "",
        "format": "{{msg.payload.weather[0].description}}",
        "layout": "row-left",
        "className": "",
        "x": 990,
        "y": 240,
        "wires": []
    },
    {
        "id": "2cf5b28e54a11150",
        "type": "ui_text",
        "z": "54c6c3bfbd6d9993",
        "g": "08d0724ddf5b999b",
        "group": "31de8e5b82691490",
        "order": 6,
        "width": 3,
        "height": 1,
        "name": "Wind",
        "label": "",
        "format": "{{msg.payload.wind.speed}}&nbsp;&nbsp;<i class=\"wi wi-darksky-wind\"></i>&nbsp;&nbsp;{{msg.payload.wind.cardinal}}",
        "layout": "col-center",
        "className": "",
        "x": 970,
        "y": 320,
        "wires": []
    },
    {
        "id": "f594592a1eaa10df",
        "type": "ui_text",
        "z": "54c6c3bfbd6d9993",
        "g": "08d0724ddf5b999b",
        "group": "31de8e5b82691490",
        "order": 3,
        "width": 3,
        "height": 1,
        "name": "SunriseTime",
        "label": "",
        "format": "<i class=\"wi wi-owm-01d\"></i>&nbsp;<i class=\"fa fa-arrow-up\"></i>&nbsp;&nbsp;{{msg.payload.sys.sunrise}}",
        "layout": "row-center",
        "className": "",
        "x": 990,
        "y": 360,
        "wires": []
    },
    {
        "id": "5070f3f34ecf9a44",
        "type": "ui_text",
        "z": "54c6c3bfbd6d9993",
        "g": "08d0724ddf5b999b",
        "group": "31de8e5b82691490",
        "order": 4,
        "width": 3,
        "height": 1,
        "name": "SunsetTime",
        "label": "",
        "format": "<i class=\"wi wi-wu-sunny\"></i>&nbsp;<i class=\"fa fa-arrow-down\"></i>&nbsp;&nbsp;{{msg.payload.sys.sunset}}",
        "layout": "row-center",
        "className": "",
        "x": 990,
        "y": 400,
        "wires": []
    },
    {
        "id": "51712fd4a941ba16",
        "type": "ui_text",
        "z": "54c6c3bfbd6d9993",
        "g": "08d0724ddf5b999b",
        "group": "31de8e5b82691490",
        "order": 5,
        "width": 2,
        "height": 1,
        "name": "Temperature",
        "label": "",
        "format": "<p style=\"font-size: 200%\">{{msg.payload.main.temp}}</p>",
        "layout": "row-center",
        "className": "",
        "x": 990,
        "y": 280,
        "wires": []
    },
    {
        "id": "74d898a2365dff9f",
        "type": "ui_gauge",
        "z": "54c6c3bfbd6d9993",
        "g": "354d2874de048d42",
        "name": "Temp. Gauge1",
        "group": "78956960e46b2a2e",
        "order": 1,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Temperature [째C]",
        "label": "units",
        "format": "{{value}}",
        "min": "-20",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "30",
        "diff": false,
        "className": "",
        "x": 3640,
        "y": 260,
        "wires": []
    },
    {
        "id": "238c6261662cd19e",
        "type": "ui_gauge",
        "z": "54c6c3bfbd6d9993",
        "g": "354d2874de048d42",
        "name": "Hum. Gauge1",
        "group": "78956960e46b2a2e",
        "order": 3,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Humidity [%]",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 3640,
        "y": 340,
        "wires": []
    },
    {
        "id": "70528e820cc40d6f",
        "type": "ui_gauge",
        "z": "54c6c3bfbd6d9993",
        "g": "354d2874de048d42",
        "name": "Moist. Gauge1",
        "group": "78956960e46b2a2e",
        "order": 5,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Soil Moisture [%]",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 3640,
        "y": 420,
        "wires": []
    },
    {
        "id": "aa57601253ce3f61",
        "type": "ui_gauge",
        "z": "54c6c3bfbd6d9993",
        "g": "354d2874de048d42",
        "name": "Light Gauge1",
        "group": "78956960e46b2a2e",
        "order": 7,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Light [lux]",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "20000",
        "seg2": "80000",
        "diff": false,
        "className": "",
        "x": 3640,
        "y": 500,
        "wires": []
    },
    {
        "id": "15fdd082aea98212",
        "type": "ui_gauge",
        "z": "54c6c3bfbd6d9993",
        "g": "c012487765f034fc",
        "name": "Temp. Gauge2",
        "group": "99dca6761e2d9c28",
        "order": 1,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Temperature [째C]",
        "label": "units",
        "format": "{{value}}",
        "min": "-20",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "30",
        "diff": false,
        "className": "",
        "x": 3640,
        "y": 740,
        "wires": []
    },
    {
        "id": "b136ba9ee0ad3e99",
        "type": "ui_gauge",
        "z": "54c6c3bfbd6d9993",
        "g": "c012487765f034fc",
        "name": "Hum. Gauge2",
        "group": "99dca6761e2d9c28",
        "order": 3,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Humidity [%]",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 3640,
        "y": 820,
        "wires": []
    },
    {
        "id": "30d2520e3b4c4ff0",
        "type": "ui_gauge",
        "z": "54c6c3bfbd6d9993",
        "g": "c012487765f034fc",
        "name": "Moist. Gauge2",
        "group": "99dca6761e2d9c28",
        "order": 5,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Soil Moisture [%]",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 3640,
        "y": 900,
        "wires": []
    },
    {
        "id": "165f420e2a16f890",
        "type": "ui_gauge",
        "z": "54c6c3bfbd6d9993",
        "g": "c012487765f034fc",
        "name": "Light Gauge2",
        "group": "99dca6761e2d9c28",
        "order": 7,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Light [lux]",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "20000",
        "seg2": "80000",
        "diff": false,
        "className": "",
        "x": 3640,
        "y": 980,
        "wires": []
    },
    {
        "id": "367fcca0182d22c7",
        "type": "ui_gauge",
        "z": "54c6c3bfbd6d9993",
        "g": "1dcff70bb5d269ad",
        "name": "Temp. Gauge3",
        "group": "76c122f563a2790b",
        "order": 1,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Temperature [째C]",
        "label": "units",
        "format": "{{value}}",
        "min": "-20",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "30",
        "diff": false,
        "className": "",
        "x": 3640,
        "y": 1220,
        "wires": []
    },
    {
        "id": "5e14d94b454dfb4f",
        "type": "ui_gauge",
        "z": "54c6c3bfbd6d9993",
        "g": "1dcff70bb5d269ad",
        "name": "Hum. Gauge3",
        "group": "76c122f563a2790b",
        "order": 3,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Humidity [%]",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 3640,
        "y": 1300,
        "wires": []
    },
    {
        "id": "39f4b3c42a6cacfb",
        "type": "ui_gauge",
        "z": "54c6c3bfbd6d9993",
        "g": "1dcff70bb5d269ad",
        "name": "Moist. Gauge3",
        "group": "76c122f563a2790b",
        "order": 5,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Soil Moisture [%]",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 3640,
        "y": 1380,
        "wires": []
    },
    {
        "id": "5d91f6e5e4d69610",
        "type": "ui_gauge",
        "z": "54c6c3bfbd6d9993",
        "g": "1dcff70bb5d269ad",
        "name": "Light Gauge3",
        "group": "76c122f563a2790b",
        "order": 7,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Light [lux]",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "20000",
        "seg2": "80000",
        "diff": false,
        "className": "",
        "x": 3640,
        "y": 1460,
        "wires": []
    },
    {
        "id": "bc1c55b6eb768038",
        "type": "ui_gauge",
        "z": "54c6c3bfbd6d9993",
        "g": "416bee4d9d9eb702",
        "name": "Temp. Gauge4",
        "group": "dca27f708d79a283",
        "order": 1,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Temperature [째C]",
        "label": "units",
        "format": "{{value}}",
        "min": "-20",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "30",
        "diff": false,
        "className": "",
        "x": 3640,
        "y": 1700,
        "wires": []
    },
    {
        "id": "7b05edc2099db09c",
        "type": "ui_gauge",
        "z": "54c6c3bfbd6d9993",
        "g": "416bee4d9d9eb702",
        "name": "Hum. Gauge4",
        "group": "dca27f708d79a283",
        "order": 3,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Humidity [%]",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 3640,
        "y": 1780,
        "wires": []
    },
    {
        "id": "6c0edeaec5503e4e",
        "type": "ui_gauge",
        "z": "54c6c3bfbd6d9993",
        "g": "416bee4d9d9eb702",
        "name": "Moist. Gauge4",
        "group": "dca27f708d79a283",
        "order": 5,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Soil Moisture [%]",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 3640,
        "y": 1860,
        "wires": []
    },
    {
        "id": "9c0cfc42e28109a7",
        "type": "ui_gauge",
        "z": "54c6c3bfbd6d9993",
        "g": "416bee4d9d9eb702",
        "name": "Light Gauge4",
        "group": "dca27f708d79a283",
        "order": 7,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Light [lux]",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "10000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "20000",
        "seg2": "80000",
        "diff": false,
        "className": "",
        "x": 3640,
        "y": 1940,
        "wires": []
    },
    {
        "id": "cfdf380ce4f23041",
        "type": "ui_chart",
        "z": "54c6c3bfbd6d9993",
        "g": "354d2874de048d42",
        "name": "Temp. Chart1",
        "group": "78956960e46b2a2e",
        "order": 2,
        "width": 4,
        "height": 3,
        "label": "Temperature Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-20",
        "ymax": "70",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 3640,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "7b3c4959cd3a0200",
        "type": "ui_chart",
        "z": "54c6c3bfbd6d9993",
        "g": "354d2874de048d42",
        "name": "Hum. Chart1",
        "group": "78956960e46b2a2e",
        "order": 4,
        "width": 4,
        "height": 3,
        "label": "Humidity Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 3630,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "5b32f69ea65e1452",
        "type": "ui_chart",
        "z": "54c6c3bfbd6d9993",
        "g": "354d2874de048d42",
        "name": "Moist. Chart1",
        "group": "78956960e46b2a2e",
        "order": 6,
        "width": 4,
        "height": 3,
        "label": "Soil Moisture Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 3630,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "d893fcc9b43c3435",
        "type": "ui_chart",
        "z": "54c6c3bfbd6d9993",
        "g": "354d2874de048d42",
        "name": "Light Chart1",
        "group": "78956960e46b2a2e",
        "order": 8,
        "width": 4,
        "height": 3,
        "label": "Light Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100000",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 3630,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "bf3af8eb1ed36b90",
        "type": "ui_chart",
        "z": "54c6c3bfbd6d9993",
        "g": "354d2874de048d42",
        "name": "PumpChart1",
        "group": "f1b999f5373c31d8",
        "order": 3,
        "width": 4,
        "height": 3,
        "label": "Pumps Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 3330,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "de7fe50bae5315a4",
        "type": "ui_chart",
        "z": "54c6c3bfbd6d9993",
        "g": "354d2874de048d42",
        "name": "LedChart1",
        "group": "f1b999f5373c31d8",
        "order": 6,
        "width": 4,
        "height": 3,
        "label": "Leds Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 3330,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "9dfd1ab8f9f685c2",
        "type": "ui_chart",
        "z": "54c6c3bfbd6d9993",
        "g": "c012487765f034fc",
        "name": "PumpChart2",
        "group": "5e32d1811541c3ed",
        "order": 3,
        "width": 4,
        "height": 3,
        "label": "Pumps Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 3330,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "24d7a860cf420409",
        "type": "ui_chart",
        "z": "54c6c3bfbd6d9993",
        "g": "c012487765f034fc",
        "name": "LedChart2",
        "group": "5e32d1811541c3ed",
        "order": 6,
        "width": 4,
        "height": 3,
        "label": "Leds Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 3330,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "a80ff969cc6fe56e",
        "type": "ui_chart",
        "z": "54c6c3bfbd6d9993",
        "g": "c012487765f034fc",
        "name": "Temp. Chart2",
        "group": "99dca6761e2d9c28",
        "order": 2,
        "width": 4,
        "height": 3,
        "label": "Temperature Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-20",
        "ymax": "80",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 3640,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "c6d2c2bb886af49a",
        "type": "ui_chart",
        "z": "54c6c3bfbd6d9993",
        "g": "c012487765f034fc",
        "name": "Hum. Chart2",
        "group": "99dca6761e2d9c28",
        "order": 4,
        "width": 4,
        "height": 3,
        "label": "Humidity Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 3630,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "bd1de411f8e3f56d",
        "type": "ui_chart",
        "z": "54c6c3bfbd6d9993",
        "g": "c012487765f034fc",
        "name": "Moist. Chart2",
        "group": "99dca6761e2d9c28",
        "order": 6,
        "width": 4,
        "height": 3,
        "label": "Soil Moisture Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 3630,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "3e85ae98e149e719",
        "type": "ui_chart",
        "z": "54c6c3bfbd6d9993",
        "g": "c012487765f034fc",
        "name": "Light Chart2",
        "group": "99dca6761e2d9c28",
        "order": 8,
        "width": 4,
        "height": 3,
        "label": "Light Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100000",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 3630,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "f33b13558d0d16e2",
        "type": "ui_chart",
        "z": "54c6c3bfbd6d9993",
        "g": "1dcff70bb5d269ad",
        "name": "PumpChart3",
        "group": "d4d16815f75585a6",
        "order": 3,
        "width": 4,
        "height": 3,
        "label": "Pumps Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 3310,
        "y": 1540,
        "wires": [
            []
        ]
    },
    {
        "id": "5964a87309788fe1",
        "type": "ui_chart",
        "z": "54c6c3bfbd6d9993",
        "g": "1dcff70bb5d269ad",
        "name": "LedChart3",
        "group": "d4d16815f75585a6",
        "order": 6,
        "width": 4,
        "height": 3,
        "label": "Leds Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 3310,
        "y": 1620,
        "wires": [
            []
        ]
    },
    {
        "id": "34b46a30a8518f9c",
        "type": "ui_chart",
        "z": "54c6c3bfbd6d9993",
        "g": "1dcff70bb5d269ad",
        "name": "Temp. Chart3",
        "group": "76c122f563a2790b",
        "order": 2,
        "width": 4,
        "height": 3,
        "label": "Temperature Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-20",
        "ymax": "50",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 3640,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "bc2594c6dd549e33",
        "type": "ui_chart",
        "z": "54c6c3bfbd6d9993",
        "g": "1dcff70bb5d269ad",
        "name": "Hum. Chart3",
        "group": "76c122f563a2790b",
        "order": 4,
        "width": 4,
        "height": 3,
        "label": "Humidity Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 3630,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "847bc0227ad2e83d",
        "type": "ui_chart",
        "z": "54c6c3bfbd6d9993",
        "g": "1dcff70bb5d269ad",
        "name": "Moist. Chart3",
        "group": "76c122f563a2790b",
        "order": 6,
        "width": 4,
        "height": 3,
        "label": "Soil Moisture Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 3630,
        "y": 1420,
        "wires": [
            []
        ]
    },
    {
        "id": "c3dcc49c6a76dd69",
        "type": "ui_chart",
        "z": "54c6c3bfbd6d9993",
        "g": "1dcff70bb5d269ad",
        "name": "Light Chart3",
        "group": "76c122f563a2790b",
        "order": 8,
        "width": 4,
        "height": 3,
        "label": "Light Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100000",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 3630,
        "y": 1500,
        "wires": [
            []
        ]
    },
    {
        "id": "83eda9de1787378a",
        "type": "ui_chart",
        "z": "54c6c3bfbd6d9993",
        "g": "416bee4d9d9eb702",
        "name": "PumpChart4",
        "group": "63c960e3ff3fcba6",
        "order": 3,
        "width": 4,
        "height": 3,
        "label": "Pumps Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 3310,
        "y": 2020,
        "wires": [
            []
        ]
    },
    {
        "id": "bdbb39ce1dcb1bed",
        "type": "ui_chart",
        "z": "54c6c3bfbd6d9993",
        "g": "416bee4d9d9eb702",
        "name": "LedChart4",
        "group": "63c960e3ff3fcba6",
        "order": 6,
        "width": 4,
        "height": 3,
        "label": "Leds Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 3310,
        "y": 2100,
        "wires": [
            []
        ]
    },
    {
        "id": "7d3c84d3c0ad03f2",
        "type": "ui_chart",
        "z": "54c6c3bfbd6d9993",
        "g": "416bee4d9d9eb702",
        "name": "Temp. Chart4",
        "group": "dca27f708d79a283",
        "order": 2,
        "width": 4,
        "height": 3,
        "label": "Temperature Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-20",
        "ymax": "50",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 3640,
        "y": 1740,
        "wires": [
            []
        ]
    },
    {
        "id": "452c8ce5f1e4adcd",
        "type": "ui_chart",
        "z": "54c6c3bfbd6d9993",
        "g": "416bee4d9d9eb702",
        "name": "Hum. Chart4",
        "group": "dca27f708d79a283",
        "order": 4,
        "width": 4,
        "height": 3,
        "label": "Humidity Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 3630,
        "y": 1820,
        "wires": [
            []
        ]
    },
    {
        "id": "77f63c69d96b02e7",
        "type": "ui_chart",
        "z": "54c6c3bfbd6d9993",
        "g": "416bee4d9d9eb702",
        "name": "Moist. Chart4",
        "group": "dca27f708d79a283",
        "order": 6,
        "width": 4,
        "height": 3,
        "label": "Soil Moisture Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 3630,
        "y": 1900,
        "wires": [
            []
        ]
    },
    {
        "id": "cb9f0458f0d50755",
        "type": "ui_chart",
        "z": "54c6c3bfbd6d9993",
        "g": "416bee4d9d9eb702",
        "name": "Light Chart4",
        "group": "dca27f708d79a283",
        "order": 8,
        "width": 4,
        "height": 3,
        "label": "Light Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100000",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 3630,
        "y": 1980,
        "wires": [
            []
        ]
    },
    {
        "id": "5f104faee7795fa0",
        "type": "ui_chart",
        "z": "54c6c3bfbd6d9993",
        "g": "6de25c967950bdcd",
        "name": "Consumption Chart",
        "group": "034412fb686048d4",
        "order": 1,
        "width": 7,
        "height": 4,
        "label": "Total Consumption [kWh]",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#2ca02c",
            "#aec7e8",
            "#ff7f0e",
            "#9467bd",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2350,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "e912d0829f74a764",
        "type": "ui_ui_control",
        "z": "54c6c3bfbd6d9993",
        "g": "08d0724ddf5b999b",
        "name": "Update tab",
        "events": "change",
        "x": 110,
        "y": 300,
        "wires": [
            [
                "ca33adc539d22833"
            ]
        ]
    },
    {
        "id": "559190b99c290935",
        "type": "ui_ui_control",
        "z": "54c6c3bfbd6d9993",
        "g": "753f47c82d92d3bf",
        "name": "",
        "events": "connect",
        "x": 580,
        "y": 860,
        "wires": [
            [
                "e1a82cbae25fdb28"
            ]
        ]
    },
    {
        "id": "7e1230196b3f6055",
        "type": "ui_template",
        "z": "54c6c3bfbd6d9993",
        "g": "169ea57b72f1db13",
        "group": "2a745e6b.07df92",
        "name": "Dashboard Theme : Modern Dark",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div>\n    <link href=\"https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap\" rel=\"stylesheet\">\n    <style>\n        body {\n            --background: #212529;\n            --on-background: white;\n            --surface: #2d3136;\n            --on-surface: white;\n            --primary: var(--nr-dashboard-widgetColor);\n            --on-primary: white;\n            --secondary: white;\n            --accent: red;\n            --radius-s: 8px;\n            --font-weight-m: 300;\n            --font-weight-m: 500;\n            --font-weight-l: 700;\n            --space-s: 8px;\n            --space-m: 16px;\n            --space-l: 32px;\n        }\n\n        body.nr-dashboard-theme {\n            background-color: var(--background);\n            font-family: 'Montserrat', sans-serif;\n        }\n        .nr-dashboard-theme ui-card-panel {\n            background-color: var(--background);\n            border: 0;\n        }\n        .nr-dashboard-theme .nr-dashboard-button .md-button {\n            background-color: var(--primary);\n            border-radius: var(--radius-s);\n            padding: 8px !important;\n            line-height: inherit;\n            font-weight: var(--font-weight-l);\n            color: var(--on-primary);\n        }\n        .nr-dashboard-theme [ui-card-size=\"2x2\"].nr-dashboard-button .md-button {\n            display: flex;\n            flex-direction: column;\n            justify-content: center;\n            align-items: center;\n            white-space: pre-line;\n        }\n        \n        .nr-dashboard-theme .nr-dashboard-button .md-button ui-icon {\n            margin-bottom: 8px;\n        }\n        .nr-dashboard-theme .nr-dashboard-button .md-button:hover {\n            background-color: var(--primary);\n        }\n        body.nr-dashboard-theme md-content md-card {\n            background-color: var(--surface);\n        }\n        md-card.md-default-theme, md-card {\n            border-radius: var(--radius-s);\n        }\n        .nr-dashboard-theme .nr-dashboard-gauge-titlel {\n            font-weight: var(--font-weight-l) !important;      \n        }\n        .nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {\n            font-weight: var(--font-weight-l);  \n            text-transform: capitalize;\n            color: var(--on-background);\n        }\n        .nr-dashboard-cardpanel > p {\n            margin-left: 0;\n            padding-left: 16px;\n        }\n        body.nr-dashboard-theme md-toolbar {\n            background-color: var(--surface);\n        }\n        .md-default-theme .md-datepicker-calendar, .md-datepicker-calendar,\n        .md-default-theme .md-calendar, .md-calendar{\n            background-color: var(--surface);\n            color: var(--on-surface);\n        }\n        .md-default-theme .md-datepicker-calendar-pane, .md-datepicker-calendar-pane{\n            border: 0;\n        }\n        .md-default-theme .md-calendar-month-label md-icon, .md-calendar-month-label md-icon, .md-default-theme .md-datepicker-input, .md-datepicker-input {\n            color: var(--on-surface);\n        }\n        body.nr-dashboard-theme md-content md-card {\n            color: var(--on-surface);\n        }\n        .nr-dashboard-theme .nr-dashboard-numeric .value {\n            background-color: var(--surface);\n            color: var(--on-surface);\n        }\n        .nr-dashboard-theme .nr-dashboard-dropdown md-select .md-select-value, .nr-dashboard-theme .nr-dashboard-dropdown md-select .md-select-value.md-select-placeholder {\n            color: var(--on-surface);\n            border-color: var(--on-surface);\n        }\n        .nr-dashboard-theme .nr-dashboard-dropdown .md-select-icon {\n            color: var(--on-surface);\n        }\n        .nr-dashboard-theme .nr-dashboard-date-picker md-input-container .md-input {\n            color: var(--on-surface);\n            border-color: var(--on-surface);\n        }\n        .nr-dashboard-theme .nr-dashboard-date-picker .md-datepicker-triangle-button .md-datepicker-expand-triangle {\n            border-top-color: var(--on-surface);\n        }\n        body.nr-dashboard-theme md-sidenav {\n            background-color: var(--surface);\n        }\n        md-list-item._md-button-wrap > div.md-button:first-child, md-list-item .md-list-item-inner {\n            background-color: var(--surface);\n        }\n    </style>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "global",
        "className": "",
        "x": 180,
        "y": 580,
        "wires": [
            []
        ],
        "icon": "node-red-dashboard/ui_colour_picker.png",
        "info": "# Modern Dark Theme for node-red-dashboard\n\nInspired by Victor Lucachi with his [Node Red Dashboard Concept](https://dribbble.com/shots/10356530-Node-Red-Dashboard-Concept) on Dribbble. Thank you for your work.\n\n## Customize\n\n1. Go on dashboard customisation tab (At the right of Debug Console).\n2. Select the style `Dark`.\n3. Pick the color you want. Example `#66B5F8`\n\n## Buttons\n\nUse `2x2` size for buttons with icon and text on the screenshot"
    },
    {
        "id": "952ad60128e43d6a",
        "type": "ui_template",
        "z": "54c6c3bfbd6d9993",
        "g": "08d0724ddf5b999b",
        "group": "31de8e5b82691490",
        "name": "Forecast2",
        "order": 2,
        "width": 2,
        "height": 2,
        "format": "<body style=\"background-color:#2d3136;\">\n <div style=\"height: 100%; justify-content: center; align-items: center;\">\n  <div layout=\"rowicons\" layout-align=\"space-around start\" ng-repeat=\"data in msg.payload.rowicons\" style=\"font-size:150%;padding-top: 5px;padding-bottom: 5px\">\n   <span flex style=\"color: white;text-align: center\"><i class=\"wi wi-owm-{{data.cell01}}\"></i></span>\n  </div>\n  <div layout=\"rowtext\" layout-align=\"space-around start\" ng-repeat=\"data in msg.payload.rowtext\" style=\"line-height: 150%\">\n   <span flex style=\"color: white;text-align: center;\">{{data.cell01}}</span>\n  </div>\n </div>\n</body> ",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "backgr",
        "x": 980,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "8ace7877e52e78f6",
        "type": "ui_template",
        "z": "54c6c3bfbd6d9993",
        "g": "169ea57b72f1db13",
        "group": "f1b999f5373c31d8",
        "name": "Field 1 Format",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n    .nr-dashboard-text.experiment {\n        background-color: #6DBD66\n    }\n    .nr-dashboard-text.wibble p.label{\n        font-size: 1.0em;\n    }\n    .nr-dashboard-text.wibble p.value{\n        font-size: 1.6em;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 120,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "a1b9db1458158cdb",
        "type": "ui_template",
        "z": "54c6c3bfbd6d9993",
        "g": "169ea57b72f1db13",
        "group": "5e32d1811541c3ed",
        "name": "Field 2 Format",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n    .nr-dashboard-text.experiment {\n        background-color: #6DBD66\n    }\n    .nr-dashboard-text.wibble p.label{\n        font-size: 1.0em;\n    }\n    .nr-dashboard-text.wibble p.value{\n        font-size: 1.6em;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 120,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "0e786d4f0e94f09a",
        "type": "ui_template",
        "z": "54c6c3bfbd6d9993",
        "g": "169ea57b72f1db13",
        "group": "d4d16815f75585a6",
        "name": "Field 3 Format",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n    .nr-dashboard-text.experiment {\n        background-color: #6DBD66\n    }\n    .nr-dashboard-text.wibble p.label{\n        font-size: 1.0em;\n    }\n    .nr-dashboard-text.wibble p.value{\n        font-size: 1.6em;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 120,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "2080495962b5b255",
        "type": "ui_template",
        "z": "54c6c3bfbd6d9993",
        "g": "169ea57b72f1db13",
        "group": "63c960e3ff3fcba6",
        "name": "Field 4 Format",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n    .nr-dashboard-text.experiment {\n        background-color: #6DBD66\n    }\n    .nr-dashboard-text.wibble p.label{\n        font-size: 1.0em;\n    }\n    .nr-dashboard-text.wibble p.value{\n        font-size: 1.6em;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 120,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "44d905bc4b56f5a3",
        "type": "ui_template",
        "z": "54c6c3bfbd6d9993",
        "g": "753f47c82d92d3bf",
        "group": "cdd0e15889b1286d",
        "name": "Bot redirect",
        "order": 6,
        "width": 0,
        "height": 0,
        "format": "<script>\n    (function(scope) {\n    scope.$watch('msg.payload', function(data) {\n        if (data == \"Bot\") {\n          window.open(\"https://t.me/IoTomatoes_bot\");\n          window.location.href = \"https://t.me/IoTomatoes_bot\";\n        }\n    });\n})(scope);\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 970,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "6378cf9c524cc11f",
        "type": "ui_template",
        "z": "54c6c3bfbd6d9993",
        "g": "753f47c82d92d3bf",
        "group": "dc85dc3382f47ab2",
        "name": "Localization Map",
        "order": 2,
        "width": "7",
        "height": "7",
        "format": "<div style=\"justify-content: center; align-items: center;\">\n    <iframe id=\"{{'my_'+$id}}\" src=\"\" width=\"360px\" height=\"360px\" frameBorder=\"0\"></iframe>\n</div>\n\n<script>\n    (function(scope) {\n    scope.$watch('msg', function(msg) {\n        if (msg) {\n            $(\"#my_\"+scope.$id).attr(\"src\", `${msg.payload}`);\n        }\n    });\n})(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1010,
        "y": 800,
        "wires": [
            [
                "125679bb4d7c6496"
            ]
        ]
    },
    {
        "id": "c2ef5a9debc98b46",
        "type": "ui_table",
        "z": "54c6c3bfbd6d9993",
        "g": "be4dab2fd84694fb",
        "group": "6fd2c0e41aa3f4f8",
        "name": "",
        "order": 1,
        "width": 7,
        "height": 4,
        "columns": [
            {
                "field": "time",
                "title": "Datetime",
                "width": "32%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "message",
                "title": "Message",
                "width": "48%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "type",
                "title": "Type",
                "width": "20%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 2290,
        "y": 260,
        "wires": []
    },
    {
        "id": "cac34d559af9f3e4",
        "type": "simpletime",
        "z": "54c6c3bfbd6d9993",
        "name": "",
        "mydate": false,
        "myymd": false,
        "myyear": true,
        "mymonth": false,
        "mymonthn": true,
        "mydom": true,
        "mydoy": false,
        "myday": false,
        "myhourpm": false,
        "myhour": false,
        "mytime": true,
        "mytimes": false,
        "myminute": false,
        "myminutes": false,
        "mysecond": false,
        "mymillis": false,
        "myepoch": false,
        "myrawdate": false,
        "mypm": false,
        "x": 1750,
        "y": 320,
        "wires": [
            [
                "f9394e0b13dbfd18"
            ]
        ]
    },
    {
        "id": "08e5b1613c881cfe",
        "type": "moving-average",
        "z": "54c6c3bfbd6d9993",
        "g": "354d2874de048d42",
        "name": "AVG",
        "amount": "10",
        "weight": "cumulative",
        "x": 3050,
        "y": 340,
        "wires": [
            [
                "29a8338f852b62b8"
            ]
        ]
    },
    {
        "id": "0645a30718171ddc",
        "type": "moving-average",
        "z": "54c6c3bfbd6d9993",
        "g": "354d2874de048d42",
        "name": "AVG",
        "amount": 10,
        "weight": "cumulative",
        "x": 3050,
        "y": 380,
        "wires": [
            [
                "e6c305ef1d899cc5"
            ]
        ]
    },
    {
        "id": "f2b59f47bf70bf17",
        "type": "moving-average",
        "z": "54c6c3bfbd6d9993",
        "g": "354d2874de048d42",
        "name": "AVG",
        "amount": 10,
        "weight": "cumulative",
        "x": 3050,
        "y": 420,
        "wires": [
            [
                "bd7ae576522b52e9"
            ]
        ]
    },
    {
        "id": "3148fb9c4ee39dce",
        "type": "moving-average",
        "z": "54c6c3bfbd6d9993",
        "g": "354d2874de048d42",
        "name": "AVG",
        "amount": 10,
        "weight": "cumulative",
        "x": 3050,
        "y": 460,
        "wires": [
            [
                "6630f479ed1809d6"
            ]
        ]
    },
    {
        "id": "0a3188521f1658fa",
        "type": "moving-average",
        "z": "54c6c3bfbd6d9993",
        "g": "c012487765f034fc",
        "name": "AVG",
        "amount": "10",
        "weight": "cumulative",
        "x": 3050,
        "y": 820,
        "wires": [
            [
                "04d112a720937c9b"
            ]
        ]
    },
    {
        "id": "2d6d9e4704a073bf",
        "type": "moving-average",
        "z": "54c6c3bfbd6d9993",
        "g": "c012487765f034fc",
        "name": "AVG",
        "amount": 10,
        "weight": "cumulative",
        "x": 3050,
        "y": 860,
        "wires": [
            [
                "60f159cf626fd033"
            ]
        ]
    },
    {
        "id": "a807259524efcc39",
        "type": "moving-average",
        "z": "54c6c3bfbd6d9993",
        "g": "c012487765f034fc",
        "name": "AVG",
        "amount": 10,
        "weight": "cumulative",
        "x": 3050,
        "y": 900,
        "wires": [
            [
                "7f47620545a2d33f"
            ]
        ]
    },
    {
        "id": "43ec5bfc3fa67450",
        "type": "moving-average",
        "z": "54c6c3bfbd6d9993",
        "g": "c012487765f034fc",
        "name": "AVG",
        "amount": 10,
        "weight": "cumulative",
        "x": 3050,
        "y": 940,
        "wires": [
            [
                "1ca3432fd82643b3"
            ]
        ]
    },
    {
        "id": "893f13056f4abcc0",
        "type": "moving-average",
        "z": "54c6c3bfbd6d9993",
        "g": "1dcff70bb5d269ad",
        "name": "AVG",
        "amount": "10",
        "weight": "cumulative",
        "x": 3050,
        "y": 1300,
        "wires": [
            [
                "5dc1e3c550eb0293"
            ]
        ]
    },
    {
        "id": "af6c97e0526203de",
        "type": "moving-average",
        "z": "54c6c3bfbd6d9993",
        "g": "1dcff70bb5d269ad",
        "name": "AVG",
        "amount": 10,
        "weight": "cumulative",
        "x": 3050,
        "y": 1340,
        "wires": [
            [
                "cbebcdd8a82a39a9"
            ]
        ]
    },
    {
        "id": "a5c0358531bc3b4a",
        "type": "moving-average",
        "z": "54c6c3bfbd6d9993",
        "g": "1dcff70bb5d269ad",
        "name": "AVG",
        "amount": 10,
        "weight": "cumulative",
        "x": 3050,
        "y": 1380,
        "wires": [
            [
                "0f38ed5b37c0047d"
            ]
        ]
    },
    {
        "id": "b236fbce862caad8",
        "type": "moving-average",
        "z": "54c6c3bfbd6d9993",
        "g": "1dcff70bb5d269ad",
        "name": "AVG",
        "amount": 10,
        "weight": "cumulative",
        "x": 3050,
        "y": 1420,
        "wires": [
            [
                "3e6601f5b230c113"
            ]
        ]
    },
    {
        "id": "d8ddc8706a39e573",
        "type": "moving-average",
        "z": "54c6c3bfbd6d9993",
        "g": "416bee4d9d9eb702",
        "name": "AVG",
        "amount": "10",
        "weight": "cumulative",
        "x": 3050,
        "y": 1780,
        "wires": [
            [
                "61088dca915ee5e4"
            ]
        ]
    },
    {
        "id": "77de0cb43a52e452",
        "type": "moving-average",
        "z": "54c6c3bfbd6d9993",
        "g": "416bee4d9d9eb702",
        "name": "AVG",
        "amount": 10,
        "weight": "cumulative",
        "x": 3050,
        "y": 1820,
        "wires": [
            [
                "0b1d7ad9af3b3038"
            ]
        ]
    },
    {
        "id": "3db5d4eccd957785",
        "type": "moving-average",
        "z": "54c6c3bfbd6d9993",
        "g": "416bee4d9d9eb702",
        "name": "AVG",
        "amount": 10,
        "weight": "cumulative",
        "x": 3050,
        "y": 1860,
        "wires": [
            [
                "9bd1f68c315ab6cd"
            ]
        ]
    },
    {
        "id": "9cf8d2022219684b",
        "type": "moving-average",
        "z": "54c6c3bfbd6d9993",
        "g": "416bee4d9d9eb702",
        "name": "AVG",
        "amount": 10,
        "weight": "cumulative",
        "x": 3050,
        "y": 1900,
        "wires": [
            [
                "3d9e04ae3c463556"
            ]
        ]
    },
    {
        "id": "2ddc8e2131fe76ef",
        "type": "ui_led",
        "z": "54c6c3bfbd6d9993",
        "g": "354d2874de048d42",
        "order": 4,
        "group": "f1b999f5373c31d8",
        "width": 3,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "PumpLED1",
        "x": 3070,
        "y": 540,
        "wires": []
    },
    {
        "id": "fcb4366de42c024c",
        "type": "ui_led",
        "z": "54c6c3bfbd6d9993",
        "g": "354d2874de048d42",
        "order": 7,
        "group": "f1b999f5373c31d8",
        "width": 3,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "LedLED1",
        "x": 3060,
        "y": 620,
        "wires": []
    },
    {
        "id": "a772f8756c46759d",
        "type": "ui_led",
        "z": "54c6c3bfbd6d9993",
        "g": "c012487765f034fc",
        "order": 4,
        "group": "5e32d1811541c3ed",
        "width": 3,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "PumpLED2",
        "x": 3070,
        "y": 1020,
        "wires": []
    },
    {
        "id": "87f788ebfc2a76cc",
        "type": "ui_led",
        "z": "54c6c3bfbd6d9993",
        "g": "c012487765f034fc",
        "order": 7,
        "group": "5e32d1811541c3ed",
        "width": 3,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "LedLED2",
        "x": 3060,
        "y": 1100,
        "wires": []
    },
    {
        "id": "3cf7998136f9fc6c",
        "type": "ui_led",
        "z": "54c6c3bfbd6d9993",
        "g": "1dcff70bb5d269ad",
        "order": 4,
        "group": "d4d16815f75585a6",
        "width": 3,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "PumpLED3",
        "x": 3070,
        "y": 1500,
        "wires": []
    },
    {
        "id": "68adb6db2bce1868",
        "type": "ui_led",
        "z": "54c6c3bfbd6d9993",
        "g": "1dcff70bb5d269ad",
        "order": 7,
        "group": "d4d16815f75585a6",
        "width": 3,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "LedLED",
        "x": 3060,
        "y": 1580,
        "wires": []
    },
    {
        "id": "e8aacf5dd20812d0",
        "type": "ui_led",
        "z": "54c6c3bfbd6d9993",
        "g": "416bee4d9d9eb702",
        "order": 4,
        "group": "63c960e3ff3fcba6",
        "width": 3,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "PumpLED4",
        "x": 3070,
        "y": 1980,
        "wires": []
    },
    {
        "id": "3facc68a200937b8",
        "type": "ui_led",
        "z": "54c6c3bfbd6d9993",
        "g": "416bee4d9d9eb702",
        "order": 7,
        "group": "63c960e3ff3fcba6",
        "width": 3,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "LedLED4",
        "x": 3060,
        "y": 2060,
        "wires": []
    },
    {
        "id": "5cabbdf8e12528c7",
        "type": "http request",
        "z": "54c6c3bfbd6d9993",
        "g": "829145b1a61a34fe",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "body",
        "url": "http://service_catalog:8080/insert",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 310,
        "y": 140,
        "wires": [
            [
                "b162538becd0a418"
            ]
        ]
    },
    {
        "id": "a844af5d2f5aa171",
        "type": "inject",
        "z": "54c6c3bfbd6d9993",
        "g": "829145b1a61a34fe",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"serviceName\":\"Dashboard\",\"availableServices\":[\"REST\",\"MQTT\"],\"servicesDetails\":[{\"serviceType\":\"MQTT\",\"subscribedTopics\":[\"#\"]},{\"serviceType\":\"REST\",\"serviceIP\":\"http://dashboard:1880\"}]}",
        "payloadType": "json",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "5cabbdf8e12528c7"
            ]
        ]
    },
    {
        "id": "146e266e936f2d04",
        "type": "trigger",
        "z": "54c6c3bfbd6d9993",
        "g": "829145b1a61a34fe",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "payl",
        "duration": "-1",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 750,
        "y": 140,
        "wires": [
            [
                "11a009cefeb1e519"
            ]
        ]
    },
    {
        "id": "11a009cefeb1e519",
        "type": "http request",
        "z": "54c6c3bfbd6d9993",
        "g": "829145b1a61a34fe",
        "name": "",
        "method": "PUT",
        "ret": "txt",
        "paytoqs": "query",
        "url": "http://service_catalog:8080/refresh?ID={{payload}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 950,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "b162538becd0a418",
        "type": "change",
        "z": "54c6c3bfbd6d9993",
        "g": "829145b1a61a34fe",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.ID",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 140,
        "wires": [
            [
                "146e266e936f2d04"
            ]
        ]
    },
    {
        "id": "29a8338f852b62b8",
        "type": "trigger",
        "z": "54c6c3bfbd6d9993",
        "g": "354d2874de048d42",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "payl",
        "duration": "-1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 3240,
        "y": 340,
        "wires": [
            [
                "ed2e3e697275deb9"
            ]
        ]
    },
    {
        "id": "e6c305ef1d899cc5",
        "type": "trigger",
        "z": "54c6c3bfbd6d9993",
        "g": "354d2874de048d42",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "payl",
        "duration": "-1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 3240,
        "y": 380,
        "wires": [
            [
                "480155bad90585ee"
            ]
        ]
    },
    {
        "id": "bd7ae576522b52e9",
        "type": "trigger",
        "z": "54c6c3bfbd6d9993",
        "g": "354d2874de048d42",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "payl",
        "duration": "-1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 3240,
        "y": 420,
        "wires": [
            [
                "1686bb74cbdcc097"
            ]
        ]
    },
    {
        "id": "6630f479ed1809d6",
        "type": "trigger",
        "z": "54c6c3bfbd6d9993",
        "g": "354d2874de048d42",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "payl",
        "duration": "-1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 3240,
        "y": 460,
        "wires": [
            [
                "434184b11687360f"
            ]
        ]
    },
    {
        "id": "04d112a720937c9b",
        "type": "trigger",
        "z": "54c6c3bfbd6d9993",
        "g": "c012487765f034fc",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "payl",
        "duration": "-1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 3220,
        "y": 820,
        "wires": [
            [
                "8c3642d5bf8f094e"
            ]
        ]
    },
    {
        "id": "ddacaf2460e6f678",
        "type": "trigger",
        "z": "54c6c3bfbd6d9993",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "payl",
        "duration": "-1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 3220,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "7f47620545a2d33f",
        "type": "trigger",
        "z": "54c6c3bfbd6d9993",
        "g": "c012487765f034fc",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "payl",
        "duration": "-1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 3220,
        "y": 900,
        "wires": [
            [
                "f56f2342bfdb0995"
            ]
        ]
    },
    {
        "id": "1ca3432fd82643b3",
        "type": "trigger",
        "z": "54c6c3bfbd6d9993",
        "g": "c012487765f034fc",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "payl",
        "duration": "-1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 3220,
        "y": 940,
        "wires": [
            [
                "0c3d4f0f7f0cdf99"
            ]
        ]
    },
    {
        "id": "5dc1e3c550eb0293",
        "type": "trigger",
        "z": "54c6c3bfbd6d9993",
        "g": "1dcff70bb5d269ad",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "payl",
        "duration": "-1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 3220,
        "y": 1300,
        "wires": [
            [
                "4dc94e190a4ede38"
            ]
        ]
    },
    {
        "id": "cbebcdd8a82a39a9",
        "type": "trigger",
        "z": "54c6c3bfbd6d9993",
        "g": "1dcff70bb5d269ad",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "payl",
        "duration": "-1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 3220,
        "y": 1340,
        "wires": [
            [
                "8134d6b30c491ce7"
            ]
        ]
    },
    {
        "id": "0f38ed5b37c0047d",
        "type": "trigger",
        "z": "54c6c3bfbd6d9993",
        "g": "1dcff70bb5d269ad",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "payl",
        "duration": "-1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 3220,
        "y": 1380,
        "wires": [
            [
                "bc1ca85e74c77253"
            ]
        ]
    },
    {
        "id": "3e6601f5b230c113",
        "type": "trigger",
        "z": "54c6c3bfbd6d9993",
        "g": "1dcff70bb5d269ad",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "payl",
        "duration": "-1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 3220,
        "y": 1420,
        "wires": [
            [
                "257733bddfb5be89"
            ]
        ]
    },
    {
        "id": "61088dca915ee5e4",
        "type": "trigger",
        "z": "54c6c3bfbd6d9993",
        "g": "416bee4d9d9eb702",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "payl",
        "duration": "-1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 3220,
        "y": 1780,
        "wires": [
            [
                "89d73b77b7d8eded"
            ]
        ]
    },
    {
        "id": "0b1d7ad9af3b3038",
        "type": "trigger",
        "z": "54c6c3bfbd6d9993",
        "g": "416bee4d9d9eb702",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "payl",
        "duration": "-1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 3220,
        "y": 1820,
        "wires": [
            [
                "887dc38542d3c9b0"
            ]
        ]
    },
    {
        "id": "9bd1f68c315ab6cd",
        "type": "trigger",
        "z": "54c6c3bfbd6d9993",
        "g": "416bee4d9d9eb702",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "payl",
        "duration": "-1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 3220,
        "y": 1860,
        "wires": [
            [
                "dd6a7e2206e9cf8f"
            ]
        ]
    },
    {
        "id": "3d9e04ae3c463556",
        "type": "trigger",
        "z": "54c6c3bfbd6d9993",
        "g": "416bee4d9d9eb702",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "payl",
        "duration": "-1",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 3220,
        "y": 1900,
        "wires": [
            [
                "4ef6474985b9c820"
            ]
        ]
    },
    {
        "id": "5c11e7714d961214",
        "type": "http request",
        "z": "54c6c3bfbd6d9993",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://resource_catalog:8080/{{payload.companyName}}/fields",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 750,
        "y": 1500,
        "wires": [
            [
                "9be601196b8ff4f6"
            ]
        ]
    },
    {
        "id": "226f4b5d57f785e3",
        "type": "ui_form",
        "z": "54c6c3bfbd6d9993",
        "name": "",
        "label": "",
        "group": "cdbcaf9bc51ad72e",
        "order": 2,
        "width": 6,
        "height": 1,
        "options": [
            {
                "label": "Company:",
                "value": "companyName",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "companyName": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": false,
        "className": "",
        "x": 570,
        "y": 1500,
        "wires": [
            [
                "a1dc62aa44201866",
                "5c11e7714d961214",
                "c9a79b5a16416bb1",
                "f838e3cc4ecd91ba",
                "e1a82cbae25fdb28"
            ]
        ]
    },
    {
        "id": "bf04fc6e8247320f",
        "type": "ui_ui_control",
        "z": "54c6c3bfbd6d9993",
        "name": "",
        "events": "change",
        "x": 420,
        "y": 1500,
        "wires": [
            [
                "226f4b5d57f785e3"
            ]
        ]
    },
    {
        "id": "097d90363b505d4c",
        "type": "ui_ui_control",
        "z": "54c6c3bfbd6d9993",
        "name": "",
        "events": "change",
        "x": 1920,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "2887cd4d0aebc22a",
        "type": "change",
        "z": "54c6c3bfbd6d9993",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"Home\",\"tabs\":{\"show\":[\"Home\",\"Field 1\"],\"hide\":[\"Log in\",\"Field 2\",\"Field 3\",\"Field 4\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1740,
        "y": 1340,
        "wires": [
            [
                "097d90363b505d4c"
            ]
        ]
    },
    {
        "id": "539f3176a2bd248c",
        "type": "change",
        "z": "54c6c3bfbd6d9993",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tabs\":{\"hide\":[\"Home\",\"Field 1\",\"Field 2\",\"Field 3\",\"Field 4\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 240,
        "y": 1500,
        "wires": [
            [
                "bf04fc6e8247320f"
            ]
        ]
    },
    {
        "id": "9015befa527d2667",
        "type": "ui_ui_control",
        "z": "54c6c3bfbd6d9993",
        "name": "",
        "events": "connect",
        "x": 60,
        "y": 1500,
        "wires": [
            [
                "539f3176a2bd248c"
            ]
        ]
    },
    {
        "id": "9be601196b8ff4f6",
        "type": "switch",
        "z": "54c6c3bfbd6d9993",
        "name": "",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "404",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1270,
        "y": 1500,
        "wires": [
            [
                "0b93c29eb24e7bdb"
            ],
            [
                "15d688d52989c8d8"
            ]
        ]
    },
    {
        "id": "61a1a25cd7ea09f4",
        "type": "ui_toast",
        "z": "54c6c3bfbd6d9993",
        "position": "top right",
        "displayTime": "10",
        "highlight": "red",
        "sendall": false,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "Unautorized Access",
        "x": 1700,
        "y": 1620,
        "wires": []
    },
    {
        "id": "15d688d52989c8d8",
        "type": "change",
        "z": "54c6c3bfbd6d9993",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Company not found",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1480,
        "y": 1620,
        "wires": [
            [
                "61a1a25cd7ea09f4"
            ]
        ]
    },
    {
        "id": "cfbfb45cc0ea0fca",
        "type": "ui_template",
        "z": "54c6c3bfbd6d9993",
        "g": "169ea57b72f1db13",
        "group": "cdbcaf9bc51ad72e",
        "name": "Log in Interface",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<style>\n    .nr-dashboard-theme .nr-dashboard-template {\n        background-color: #2d3136;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 120,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "d8caa7c2760a8025",
        "type": "change",
        "z": "54c6c3bfbd6d9993",
        "g": "753f47c82d92d3bf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"Log in\",\"tabs\":{\"show\":\"Log in\",\"hide\":[\"Home\",\"Field 1\",\"Field 2\",\"Field 3\",\"Field 4\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 680,
        "wires": [
            [
                "6749db2c396a80c2"
            ]
        ]
    },
    {
        "id": "6749db2c396a80c2",
        "type": "ui_ui_control",
        "z": "54c6c3bfbd6d9993",
        "g": "753f47c82d92d3bf",
        "name": "",
        "events": "change",
        "x": 960,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "208e0eadd472ef69",
        "type": "ui_template",
        "z": "54c6c3bfbd6d9993",
        "g": "169ea57b72f1db13",
        "group": "cdd0e15889b1286d",
        "name": "Home Interface",
        "order": 4,
        "width": 0,
        "height": 0,
        "format": "<style>\n    .nr-dashboard-theme .nr-dashboard-template {\n        background-color: #2d3136;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 120,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "02039cb965e92448",
        "type": "ui_ui_control",
        "z": "54c6c3bfbd6d9993",
        "name": "",
        "events": "change",
        "x": 1920,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "af4570266338d59b",
        "type": "change",
        "z": "54c6c3bfbd6d9993",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"Home\",\"tabs\":{\"show\":[\"Home\",\"Field 1\",\"Field 2\"],\"hide\":[\"Log in\",\"Field 3\",\"Field 4\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1740,
        "y": 1380,
        "wires": [
            [
                "02039cb965e92448"
            ]
        ]
    },
    {
        "id": "d1412875eacef295",
        "type": "ui_ui_control",
        "z": "54c6c3bfbd6d9993",
        "name": "",
        "events": "change",
        "x": 1920,
        "y": 1420,
        "wires": [
            []
        ]
    },
    {
        "id": "dd507ebece152238",
        "type": "change",
        "z": "54c6c3bfbd6d9993",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"Home\",\"tabs\":{\"show\":[\"Home\",\"Field 1\",\"Field 2\",\"Field 3\"],\"hide\":[\"Log in\",\"Field 4\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1740,
        "y": 1420,
        "wires": [
            [
                "d1412875eacef295"
            ]
        ]
    },
    {
        "id": "fa60d1ec6e76af31",
        "type": "ui_ui_control",
        "z": "54c6c3bfbd6d9993",
        "name": "",
        "events": "change",
        "x": 1920,
        "y": 1460,
        "wires": [
            []
        ]
    },
    {
        "id": "034407ecf366a5b1",
        "type": "change",
        "z": "54c6c3bfbd6d9993",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"Home\",\"tabs\":{\"show\":[\"Home\",\"Field 1\",\"Field 2\",\"Field 3\",\"Field 4\"],\"hide\":[\"Log in\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1740,
        "y": 1460,
        "wires": [
            [
                "fa60d1ec6e76af31"
            ]
        ]
    },
    {
        "id": "0b5ee8a19ac198ad",
        "type": "switch",
        "z": "54c6c3bfbd6d9993",
        "name": "",
        "property": "payload.n_fields",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 1570,
        "y": 1400,
        "wires": [
            [
                "2887cd4d0aebc22a"
            ],
            [
                "af4570266338d59b"
            ],
            [
                "dd507ebece152238"
            ],
            [
                "034407ecf366a5b1"
            ]
        ]
    },
    {
        "id": "0b93c29eb24e7bdb",
        "type": "function",
        "z": "54c6c3bfbd6d9993",
        "name": "function 1",
        "func": "msg.payload.n_fields = msg.payload.length\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1440,
        "y": 1400,
        "wires": [
            [
                "0b5ee8a19ac198ad"
            ]
        ]
    },
    {
        "id": "f838e3cc4ecd91ba",
        "type": "ui_text",
        "z": "54c6c3bfbd6d9993",
        "group": "cdd0e15889b1286d",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload.companyName}}",
        "layout": "row-spread",
        "className": "",
        "x": 730,
        "y": 1540,
        "wires": []
    },
    {
        "id": "3f627e465ca4e20c",
        "type": "ui_template",
        "z": "54c6c3bfbd6d9993",
        "g": "169ea57b72f1db13",
        "group": "cdd0e15889b1286d",
        "name": "LogoWeb",
        "order": 1,
        "width": 5,
        "height": 2,
        "format": " <img src=\"/img/logoDashboard.png\" width=\"50\" height=\"2\">\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 100,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "d1f77717f344f557",
        "type": "ui_template",
        "z": "54c6c3bfbd6d9993",
        "group": "cdbcaf9bc51ad72e",
        "name": "LogoWeb",
        "order": 1,
        "width": 6,
        "height": 3,
        "format": " <img src=\"/img/logoDashboard.png\" width=\"50\" height=\"2\">\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 560,
        "y": 1540,
        "wires": [
            []
        ]
    },
    {
        "id": "e1a82cbae25fdb28",
        "type": "function",
        "z": "54c6c3bfbd6d9993",
        "g": "753f47c82d92d3bf",
        "name": "setCompanyName",
        "func": "if (typeof msg.payload === 'object' && 'companyName' in msg.payload) {\n    var local = msg.payload.companyName\n    context.set('CompanyName', local);\n}\nelse {\n    var local = context.get('CompanyName') || \"\";\n}\n\nmsg.payload = \"/loc/\" + local + \"/trucksPosition\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 800,
        "wires": [
            [
                "6378cf9c524cc11f",
                "cf455cbd092fe745"
            ]
        ]
    },
    {
        "id": "cf455cbd092fe745",
        "type": "debug",
        "z": "54c6c3bfbd6d9993",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 940,
        "wires": []
    },
    {
        "id": "125679bb4d7c6496",
        "type": "debug",
        "z": "54c6c3bfbd6d9993",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 860,
        "wires": []
    }
]