IoTomatoes_Platform/Node-RED/IoTomatoes_flow.json
[
    {
        "id": "02cb3553ae92b013",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bb60f9b6bd3ea717",
        "type": "group",
        "z": "02cb3553ae92b013",
        "name": "Weather Forecast",
        "style": {
            "stroke": "#7fb7df",
            "fill": "#bfdbef",
            "label": true,
            "fill-opacity": "0.27",
            "color": "#0070c0"
        },
        "nodes": [
            "215a2cdda6b90c1f",
            "fde2619318ad402e",
            "c3d7ee7474a272f9",
            "75bb772614b29972",
            "8038cf126db7169b",
            "a8a36027f1a30a87",
            "a10a916686548df6",
            "672d65f214578c59",
            "3bc1a73387e55ecc",
            "0a69c69292f3e8a3",
            "2c2d4a99bf958b4d",
            "4408ac535d8e637e",
            "10b2378e7b1bd76c",
            "12d02359270bd16d",
            "b9221fd47ca8e295"
        ],
        "x": 14,
        "y": 519,
        "w": 1132,
        "h": 322
    },
    {
        "id": "19fd2c05009fa6d0",
        "type": "group",
        "z": "02cb3553ae92b013",
        "name": "Field 4",
        "style": {
            "stroke": "#92d04f",
            "fill": "#e3f3d3",
            "fill-opacity": "0.45",
            "label": true,
            "color": "#92d04f"
        },
        "nodes": [
            "7cd33036a8d8616a",
            "eeed29a5e8820261",
            "b66c67df8b1b4aaa",
            "4dd032483a775360",
            "448e1deab02fa9df",
            "26b46b1427cd6ab3",
            "3f9d4ad449ce0f75",
            "d129c8e6da9cb482",
            "8631c8a6c634c3bd",
            "96e4525f84948289",
            "c34209ed0635f47e",
            "e54193cb89c17b85",
            "eed807bf2dbadc21",
            "2c19d50632557235",
            "87976ef5d4492b23",
            "a55812fc7c5935c6",
            "f54cec06d64ff5b7",
            "24c2b630c987640e",
            "0cda6b4f399dbe70",
            "c1fabe58d255a22e",
            "67fd832bbedb7e59",
            "fd6466f12b26c886",
            "4a73237a80498c58",
            "d693afe697407ac8",
            "68a650a4141c8676",
            "105d241cf03ec7c1"
        ],
        "x": 2494,
        "y": 1659,
        "w": 1012,
        "h": 482
    },
    {
        "id": "8b922a437d7c7313",
        "type": "group",
        "z": "02cb3553ae92b013",
        "name": "Field 3",
        "style": {
            "stroke": "#92d04f",
            "fill": "#e3f3d3",
            "fill-opacity": "0.45",
            "label": true,
            "color": "#92d04f"
        },
        "nodes": [
            "4c710a9fe5b706fc",
            "72afb6ad61bff789",
            "85d2f0fb4d6a0638",
            "83873ad4b572facd",
            "aad911653940d433",
            "c836237aedbd17c4",
            "58965bbb94c07e40",
            "2bcdd44652e7aec5",
            "aea6fb4bd2462b92",
            "d9c3a06a8f6fccc7",
            "888fb099d0aa0f55",
            "52ed405914767406",
            "afbce39933104dc8",
            "49ccfc2ed10c3b01",
            "6e85dcc4f5a6f503",
            "aefdc1d1de2e17d6",
            "46e034a939741cea",
            "fc038f1b272b5301",
            "f586f029777fac6d",
            "cf0a6b8616d1f28e",
            "94949ae65ff24828",
            "340cbbc11f5a0d64",
            "b0882769b5cac47b",
            "2fc071ae76a95620",
            "202f3a701ba5af9b",
            "1826b48ebb09b741"
        ],
        "x": 2494,
        "y": 1179,
        "w": 1012,
        "h": 482
    },
    {
        "id": "4e18f425e6a24ecf",
        "type": "group",
        "z": "02cb3553ae92b013",
        "name": "Field 2",
        "style": {
            "stroke": "#92d04f",
            "fill": "#e3f3d3",
            "fill-opacity": "0.45",
            "label": true,
            "color": "#92d04f"
        },
        "nodes": [
            "e83ca185caca3e66",
            "09b85a64c0d9112b",
            "5b73bfbb54ca4852",
            "97b1db2e20698e4e",
            "0f568dab6974b856",
            "031394f365759b3a",
            "eb98bc7c8b5f7e8b",
            "0f3811a5b407f8ea",
            "f9ecc638e9b048c9",
            "bdb4433aef743072",
            "c67a2edac2212cf8",
            "1efa5365999f56f7",
            "0bab9e88f7565b92",
            "d2b7bdc147cb7067",
            "455662e056652b7b",
            "5bb95e196c108f7c",
            "53aae3525606bba3",
            "1cd460e2c946e192",
            "98126dcf2499f294",
            "0629882b3ccc52fd",
            "1855bf3f37030977",
            "0d593c672775df75",
            "b4a28cf41ec4fbea",
            "03793632bad25f36",
            "b6a78b15f8e33e7d",
            "679f87c7d478693b"
        ],
        "x": 2494,
        "y": 699,
        "w": 1012,
        "h": 482
    },
    {
        "id": "3f28e6b5dfc44f56",
        "type": "group",
        "z": "02cb3553ae92b013",
        "name": "Field 1",
        "style": {
            "stroke": "#92d04f",
            "fill": "#e3f3d3",
            "fill-opacity": "0.45",
            "label": true,
            "color": "#92d04f"
        },
        "nodes": [
            "eac46f8560f2c263",
            "46b880ff28f2bec7",
            "8f468ab453c4b896",
            "a4ae2445dd36fcf3",
            "aad9ee250f502cb8",
            "51c367073159940c",
            "0e5798bee05d69bd",
            "2fba57e8550eff35",
            "5342d4bc47d66263",
            "6efdabf954b96cda",
            "2c2efd34c18d9db1",
            "24eefba15c09695d",
            "03034e9c20737768",
            "73f8d0c06fecf7b6",
            "fb44f5a92f410fe6",
            "4e268efb0d1645a9",
            "e83ad96effc1adf7",
            "83fc17cda5580730",
            "b5ac355193f174ed",
            "fe51f73e3c6ad05a",
            "6ea3a4d1b3092901",
            "d1e4db31733521c1",
            "528c1a899d208d24",
            "861f4ba0cf7755b3",
            "ae12a250cb757448",
            "386c3b77bb20730b"
        ],
        "x": 2494,
        "y": 219,
        "w": 1012,
        "h": 482
    },
    {
        "id": "b34e59ea24075b0f",
        "type": "group",
        "z": "02cb3553ae92b013",
        "name": "Catalog Registration ",
        "style": {
            "stroke": "#ffC000",
            "fill": "#ffefbf",
            "fill-opacity": "0.45",
            "label": true,
            "color": "#ffC000"
        },
        "nodes": [
            "8ee10aa00402e9ce",
            "201f92e42113fc5a",
            "daee4126e083aec1",
            "fddd325bfca8b637",
            "848218af9bd22a54",
            "c2fd5d57dc6d0bb3"
        ],
        "x": 14,
        "y": 339,
        "w": 1032,
        "h": 162
    },
    {
        "id": "c26214e6e68e6bbb",
        "type": "group",
        "z": "02cb3553ae92b013",
        "name": "Dashboard Style",
        "style": {
            "stroke": "#6f2fa0",
            "fill": "#dbcbe7",
            "fill-opacity": "0.45",
            "label": true,
            "color": "#6f2fa0"
        },
        "nodes": [
            "85965edc.72971",
            "0ce89a9652356528",
            "cd10d3a39cd5b234",
            "3e97dbcc43ab18fd",
            "927887d0709d399f",
            "8ce613025de24ca7"
        ],
        "x": 654,
        "y": 39,
        "w": 332,
        "h": 282
    },
    {
        "id": "a994540f43bb275f",
        "type": "group",
        "z": "02cb3553ae92b013",
        "name": "Buttons",
        "style": {
            "stroke": "#ff0000",
            "fill": "#ffbfbf",
            "fill-opacity": "0.45",
            "label": true,
            "color": "#ff0000"
        },
        "nodes": [
            "e6f2dd22e4548866",
            "51fd8ffc145038d8",
            "d8728bd203542add",
            "7db57965.76d468",
            "582f5d3901886eb0",
            "d908d27b99c926f7",
            "4acd89a95feaa598",
            "66642d881492d857",
            "5e1f0081.6dc3c",
            "9c02d482.9d5358"
        ],
        "x": 14,
        "y": 59,
        "w": 612,
        "h": 262
    },
    {
        "id": "be381ff939fe7f86",
        "type": "group",
        "z": "02cb3553ae92b013",
        "name": "Tabs control",
        "style": {
            "stroke": "#0070c0",
            "fill": "#bfdbef",
            "fill-opacity": "0.45",
            "label": true,
            "color": "#0070c0"
        },
        "nodes": [
            "e8fe15d3226a6f3f",
            "483aba0a93928588",
            "b406a07e5025b9e7",
            "8f8380bb5114396b",
            "4264235bb96ce660",
            "502be9dbe7c2f09e",
            "99f3ef62098a8fe5",
            "09b90460f95db75c",
            "64b4c1209635ac49",
            "76b632f26293c523",
            "a9a685c9.2d1268",
            "1de9039bd8d89fac",
            "263f26a2a7da014c"
        ],
        "x": 694,
        "y": 1319,
        "w": 1432,
        "h": 202
    },
    {
        "id": "391a168f1f251317",
        "type": "group",
        "z": "02cb3553ae92b013",
        "name": "Login Interface",
        "style": {
            "stroke": "#6f2fa0",
            "fill": "#dbcbe7",
            "fill-opacity": "0.45",
            "label": true,
            "color": "#6f2fa0"
        },
        "nodes": [
            "53e013bfc082cdb4",
            "35167955cb6ea3ec",
            "d717db0bb70b4ce6",
            "3ef3fa91a685bb6c"
        ],
        "x": 694,
        "y": 1619,
        "w": 392,
        "h": 142
    },
    {
        "id": "5db4cd2efd586294",
        "type": "group",
        "z": "02cb3553ae92b013",
        "name": "Consumption Chart",
        "style": {
            "stroke": "#ff0000",
            "fill": "#ffbfbf",
            "fill-opacity": "0.45",
            "label": true,
            "color": "#ff0000"
        },
        "nodes": [
            "403eb068a6c56b72",
            "6240c5a4311b1374"
        ],
        "x": 2034,
        "y": 339,
        "w": 432,
        "h": 82
    },
    {
        "id": "30a30b3838206912",
        "type": "group",
        "z": "02cb3553ae92b013",
        "name": "Messages",
        "style": {
            "stroke": "#6f2fa0",
            "fill": "#dbcbe7",
            "fill-opacity": "0.45",
            "label": true,
            "color": "#6f2fa0"
        },
        "nodes": [
            "9c7caea06b2f7488",
            "802aa86040a797e7"
        ],
        "x": 2034,
        "y": 219,
        "w": 332,
        "h": 82
    },
    {
        "id": "9c7caea06b2f7488",
        "type": "function",
        "z": "02cb3553ae92b013",
        "g": "30a30b3838206912",
        "name": "addRow",
        "func": "var time = msg.mydom + \"/\" + msg.mymonthn + \"/\"+ msg.myyear + \" \" + msg.mytime\n\nmsg.payload =\n{\n    command: \"addRow\",\n    arguments: [\n        {\n            \"time\": time,\n            \"message\": msg.payload.msg,\n            \"type\": msg.payload.msgType\n        },\n        false\n    ],\n    returnPromise: true\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2120,
        "y": 260,
        "wires": [
            [
                "802aa86040a797e7"
            ]
        ]
    },
    {
        "id": "dfbf834635d69638",
        "type": "mqtt in",
        "z": "02cb3553ae92b013",
        "name": "",
        "topic": "",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3ea229243d5c5f4e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 1,
        "x": 1190,
        "y": 1180,
        "wires": [
            [
                "6ad107896c406953",
                "52db96d7ee689014"
            ]
        ]
    },
    {
        "id": "eac46f8560f2c263",
        "type": "switch",
        "z": "02cb3553ae92b013",
        "g": "3f28e6b5dfc44f56",
        "name": "SelectMeasurement",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "temperature",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "humidity",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "soilMoisture",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "light",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "pump",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "led",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 2780,
        "y": 520,
        "wires": [
            [
                "6ea3a4d1b3092901"
            ],
            [
                "d1e4db31733521c1"
            ],
            [
                "528c1a899d208d24"
            ],
            [
                "861f4ba0cf7755b3"
            ],
            [
                "ae12a250cb757448",
                "46b880ff28f2bec7"
            ],
            [
                "386c3b77bb20730b",
                "8f468ab453c4b896"
            ]
        ]
    },
    {
        "id": "e83ca185caca3e66",
        "type": "switch",
        "z": "02cb3553ae92b013",
        "g": "4e18f425e6a24ecf",
        "name": "SelectMeasurement",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "temperature",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "humidity",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "soilMoisture",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "light",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "pump",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "led",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 2780,
        "y": 1000,
        "wires": [
            [
                "1855bf3f37030977"
            ],
            [
                "0d593c672775df75"
            ],
            [
                "b4a28cf41ec4fbea"
            ],
            [
                "03793632bad25f36"
            ],
            [
                "b6a78b15f8e33e7d",
                "09b85a64c0d9112b"
            ],
            [
                "679f87c7d478693b",
                "5b73bfbb54ca4852"
            ]
        ]
    },
    {
        "id": "18ef9d7672f7c702",
        "type": "switch",
        "z": "02cb3553ae92b013",
        "name": "SelectField",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 2190,
        "y": 1180,
        "wires": [
            [
                "a4ae2445dd36fcf3"
            ],
            [
                "97b1db2e20698e4e"
            ],
            [
                "83873ad4b572facd"
            ],
            [
                "4dd032483a775360"
            ]
        ]
    },
    {
        "id": "4c710a9fe5b706fc",
        "type": "switch",
        "z": "02cb3553ae92b013",
        "g": "8b922a437d7c7313",
        "name": "SelectMeasurement",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "temperature",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "humidity",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "soilMoisture",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "light",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "pump",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "led",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 2780,
        "y": 1480,
        "wires": [
            [
                "94949ae65ff24828"
            ],
            [
                "340cbbc11f5a0d64"
            ],
            [
                "b0882769b5cac47b"
            ],
            [
                "2fc071ae76a95620"
            ],
            [
                "202f3a701ba5af9b",
                "72afb6ad61bff789"
            ],
            [
                "1826b48ebb09b741",
                "85d2f0fb4d6a0638"
            ]
        ]
    },
    {
        "id": "7cd33036a8d8616a",
        "type": "switch",
        "z": "02cb3553ae92b013",
        "g": "19fd2c05009fa6d0",
        "name": "SelectMeasurement",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "temperature",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "humidity",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "soilMoisture",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "light",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "pump",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "led",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 6,
        "x": 2780,
        "y": 1960,
        "wires": [
            [
                "67fd832bbedb7e59"
            ],
            [
                "fd6466f12b26c886"
            ],
            [
                "4a73237a80498c58"
            ],
            [
                "d693afe697407ac8"
            ],
            [
                "68a650a4141c8676",
                "eeed29a5e8820261"
            ],
            [
                "105d241cf03ec7c1",
                "b66c67df8b1b4aaa"
            ]
        ]
    },
    {
        "id": "f52c05a3.0a6da8",
        "type": "http in",
        "z": "02cb3553ae92b013",
        "name": "",
        "url": "/IoTomatoes",
        "method": "get",
        "upload": true,
        "swaggerDoc": "",
        "x": 220,
        "y": 1460,
        "wires": [
            [
                "7949e289.83e98c"
            ]
        ]
    },
    {
        "id": "f7c030ff0dc125b7",
        "type": "debug",
        "z": "02cb3553ae92b013",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 1080,
        "wires": []
    },
    {
        "id": "215a2cdda6b90c1f",
        "type": "function",
        "z": "02cb3553ae92b013",
        "g": "bb60f9b6bd3ea717",
        "name": "Format forecast data",
        "func": "var fcdata = {}; \nvar units=flow.get('units');\nif (units===undefined)\n{\n  units=\"imperial\";\n}\n\nfunction formatTemp(high, low){\n  var temp\n    if (units == \"imperial\") {\n        if (low){\n          temp = Math.round(parseFloat(high)) + '/' + Math.round(parseFloat(low))\n        }\n        else {\n          temp = Math.round(parseFloat(high)) + '째F'\n        }\n    }\n    else { // metric\n        if (low){\n          temp = Math.round(parseFloat(high)) + '/' + Math.round(parseFloat(low))\n        }\n        else {\n          temp = Math.round(parseFloat(high)) + '째C'\n        }\n    }\n    return temp;\n}\n\nfunction dayName(unixTime){\n  var dateObject = new Date(unixTime * 1000);\n  return dateObject.toLocaleString(flow.get('lang'), { timezone: msg.payload.timezone, weekday: 'short'});\n  // If the line above is not producing the correct short weekday names for the language set by 'lang',\n  //   you can try upgrading to NodeJS version 13 or higher (when full international support was added for the toLocaleString function),\n  //   or you can use the code below which is an example for French short weekday names.\n  /*\n  switch (dateObject.toLocaleString('en', { timezone: msg.payload.timezone, weekday: 'short'})) {\n    case 'Mon':\n      return 'Lun';\n    case 'Tue':\n      return 'Mar';\n    case 'Wed':\n      return 'Mer';\n    case 'Thu':\n      return 'Jeu';\n    case 'Fri':\n      return 'Ven';\n    case 'Sat':\n      return 'Sam';\n    case 'Sun':\n      return 'Dim';\n  }\n*/\n}\n\nfunction timeConvert(UNIX_timestamp){\n  var dateObject = new Date(UNIX_timestamp * 1000);\n  if (flow.get('hour12')) {  // 12 hour time format\n    return dateObject.toLocaleString('en', { timezone: msg.payload.timezone, hour12: true, hour: 'numeric'}).toLowerCase();\n  } else {  // 24 hour time format\n    return dateObject.toLocaleString('en', { timezone: msg.payload.timezone, hour12: false, hour: 'numeric'}) + ':00';\n  }      \n}\n\n// prepare forecast data for CSS based ui widget\nfcdata.payload = {\n  rowtext: {\n  \tdata01: {\n      cell01: timeConvert(msg.payload.dt)\n  \t},\n  \tdata02: {\n      cell01: formatTemp(msg.payload.main.temp)\n  \t}\n  },\n  rowicons: {\n  \tdata01: {\n  \t\tcell01: msg.payload.weather[0].icon\n  \t}\n  }\n}\n\nreturn fcdata;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 800,
        "wires": [
            [
                "b9221fd47ca8e295"
            ]
        ]
    },
    {
        "id": "fde2619318ad402e",
        "type": "http request",
        "z": "02cb3553ae92b013",
        "g": "bb60f9b6bd3ea717",
        "name": "Get OWM data",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "query",
        "url": "https://api.openweathermap.org/data/2.5/weather?id=524901&",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 500,
        "y": 680,
        "wires": [
            [
                "75bb772614b29972",
                "215a2cdda6b90c1f"
            ]
        ]
    },
    {
        "id": "c3d7ee7474a272f9",
        "type": "inject",
        "z": "02cb3553ae92b013",
        "g": "bb60f9b6bd3ea717",
        "name": "Trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "600",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 120,
        "y": 740,
        "wires": [
            [
                "8038cf126db7169b"
            ]
        ]
    },
    {
        "id": "75bb772614b29972",
        "type": "function",
        "z": "02cb3553ae92b013",
        "g": "bb60f9b6bd3ea717",
        "name": "Format current data",
        "func": "var icon = {}; \n\nvar units = flow.get('units');\nif (units === undefined) {units = 'imperial';}\n\nfunction timeConvert(UNIX_timestamp){\n  var dateObject = new Date(UNIX_timestamp * 1000);\n  if (flow.get('hour12')) {  // 12 hour time format\n    return dateObject.toLocaleString('en', { timezone: msg.payload.timezone, hour12: true, hour: 'numeric', minute: '2-digit'}).toLowerCase();\n  } else {  // 24 hour time format\n    return dateObject.toLocaleString('en', { timezone: msg.payload.timezone, hour12: false, hour: 'numeric', minute: '2-digit'});\n  }      \n}\n\nvar degreesToCardinal = function(deg){\n  if (deg>11.25 && deg<=33.75){return \"NNE\";}\n  else if (deg>33.75 && deg<56.25){return \"NE\";}\n  else if (deg>56.25 && deg<78.75){return \"ENE\";}\n  else if (deg>78.75 && deg<101.25){return \"E\";}\n  else if (deg>101.25 && deg<123.75){return \"ESE\";}\n  else if (deg>123.75 && deg<146.25){return \"SE\";}\n  else if (deg>146.25 && deg<168.75){return \"SSE\";}\n  else if (deg>168.75 && deg<191.25){return \"S\";}\n  else if (deg>191.25 && deg<213.75){return \"SSW\";}\n  else if (deg>213.75 && deg<236.25){return \"SW\";}\n  else if (deg>236.25 && deg<258.75){return \"WSW\";}\n  else if (deg>258.75 && deg<281.25){return \"W\";}\n  else if (deg>281.25 && deg<303.75){return \"WNW\";}\n  else if (deg>303.75 && deg<326.25){return \"NW\";}\n  else if (deg>326.25 && deg<348.75){return \"NNW\";}\n  else {return \"N\";}\n}\n\nif (units == \"imperial\")\n{\n  msg.payload.main.temp = Math.round(msg.payload.main.temp) + ' 째F';\n  msg.payload.wind.speed = Math.round(msg.payload.wind.speed) + ' mph';\n}\nelse  // metric units\n{\n  msg.payload.main.temp = Math.round(msg.payload.main.temp) + ' 째C';\n  msg.payload.wind.speed = Math.round(msg.payload.wind.speed) + ' m/s';\n}\n\nmsg.payload.wind.cardinal = degreesToCardinal(msg.payload.wind.deg);\n\nmsg.payload.sys.sunrise = timeConvert(msg.payload.sys.sunrise);\nmsg.payload.sys.sunset = timeConvert(msg.payload.sys.sunset);\n\nvar iconString = 'wi-owm-' + msg.payload.weather[0].icon + ' wi-4x';\nicon = {\n    ui_control: {\n        icon: iconString\n    }\n}; \n\nreturn [msg, icon];",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 680,
        "wires": [
            [
                "10b2378e7b1bd76c",
                "0a69c69292f3e8a3",
                "3bc1a73387e55ecc",
                "2c2d4a99bf958b4d",
                "4408ac535d8e637e"
            ],
            [
                "672d65f214578c59"
            ]
        ]
    },
    {
        "id": "8038cf126db7169b",
        "type": "change",
        "z": "02cb3553ae92b013",
        "g": "bb60f9b6bd3ea717",
        "name": "Settings",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.lat",
                "pt": "msg",
                "to": "44.98",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.lon",
                "pt": "msg",
                "to": "7.5",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.appid",
                "pt": "msg",
                "to": "450855706b3e765267db8b857ecd5601",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.units",
                "pt": "msg",
                "to": "metric",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.lang",
                "pt": "msg",
                "to": "en",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "hour12",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "units",
                "pt": "flow",
                "to": "payload.units",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "lang",
                "pt": "flow",
                "to": "payload.lang",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.exclude",
                "pt": "msg",
                "to": "minutely",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 680,
        "wires": [
            [
                "fde2619318ad402e"
            ]
        ]
    },
    {
        "id": "46b880ff28f2bec7",
        "type": "trigger",
        "z": "02cb3553ae92b013",
        "g": "3f28e6b5dfc44f56",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-20",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 3090,
        "y": 580,
        "wires": [
            [
                "b5ac355193f174ed"
            ]
        ]
    },
    {
        "id": "8f468ab453c4b896",
        "type": "trigger",
        "z": "02cb3553ae92b013",
        "g": "3f28e6b5dfc44f56",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-20",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 3090,
        "y": 660,
        "wires": [
            [
                "fe51f73e3c6ad05a"
            ]
        ]
    },
    {
        "id": "09b85a64c0d9112b",
        "type": "trigger",
        "z": "02cb3553ae92b013",
        "g": "4e18f425e6a24ecf",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-20",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 3090,
        "y": 1060,
        "wires": [
            [
                "455662e056652b7b"
            ]
        ]
    },
    {
        "id": "5b73bfbb54ca4852",
        "type": "trigger",
        "z": "02cb3553ae92b013",
        "g": "4e18f425e6a24ecf",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-20",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 3090,
        "y": 1140,
        "wires": [
            [
                "5bb95e196c108f7c"
            ]
        ]
    },
    {
        "id": "72afb6ad61bff789",
        "type": "trigger",
        "z": "02cb3553ae92b013",
        "g": "8b922a437d7c7313",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-20",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 3090,
        "y": 1540,
        "wires": [
            [
                "6e85dcc4f5a6f503"
            ]
        ]
    },
    {
        "id": "85d2f0fb4d6a0638",
        "type": "trigger",
        "z": "02cb3553ae92b013",
        "g": "8b922a437d7c7313",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-20",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 3090,
        "y": 1620,
        "wires": [
            [
                "aefdc1d1de2e17d6"
            ]
        ]
    },
    {
        "id": "eeed29a5e8820261",
        "type": "trigger",
        "z": "02cb3553ae92b013",
        "g": "19fd2c05009fa6d0",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-20",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 3090,
        "y": 2020,
        "wires": [
            [
                "87976ef5d4492b23"
            ]
        ]
    },
    {
        "id": "b66c67df8b1b4aaa",
        "type": "trigger",
        "z": "02cb3553ae92b013",
        "g": "19fd2c05009fa6d0",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "-20",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 3090,
        "y": 2100,
        "wires": [
            [
                "a55812fc7c5935c6"
            ]
        ]
    },
    {
        "id": "53e013bfc082cdb4",
        "type": "http response",
        "z": "02cb3553ae92b013",
        "g": "391a168f1f251317",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1010,
        "y": 1720,
        "wires": []
    },
    {
        "id": "35167955cb6ea3ec",
        "type": "template",
        "z": "02cb3553ae92b013",
        "g": "391a168f1f251317",
        "name": "custom login page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html lang=\"en\">\n<head>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <meta name=\"apple-mobile-web-app-capable\" content=\"yes\">\n  <meta name=\"mobile-web-app-capable\" content=\"yes\">\n  <style>\n      * {\n  box-sizing: border-box;\n}\n\nhtml {\n  height: 100%;\n}\n\nbody {\n  margin: 0;\n  height: 100%;\n  font-family: -apple-system, BlinkMacSystemFont, \"Segoe UI\", Roboto, Helvetica, Arial, sans-serif, \"Apple Color Emoji\", \"Segoe UI Emoji\", \"Segoe UI Symbol\";\n  font-size: 15px;\n  background: #000;\n}\n\n.form-group {\n  margin-bottom: 15px;\n}\n\n.form-group input {\n  width: 100%;\n  border-radius: 2px;\n\n  display: block;\n  width: 100%;\n  height: 34px;\n  padding: 6px 12px;\n  font-size: 14px;\n  line-height: 1.42857143;\n  color: #555;\n  outline: 0;\n  border: 1px solid #ddd;\n}\n\n.login-wrapper > a, button {\n  text-decoration: none;\n  cursor: pointer;\n  background-color: #6DBD66;\n  border: 1px solid #6DBD66;\n  color: #f3f5f6;\n  transition: color 0.2s, background-color 0.2s;\n\n  text-align: center;\n  padding: 12px 60px;\n  font-size: 1.2rem;\n  display: inline-block;\n  margin-bottom: 1rem;\n  border-radius: 2px;\n  background-color: #6DBD66;\n  font-weight: bold;\n  text-transform: uppercase;\n}\n\n.login-wrapper > a:hover, .login-wrapper > a:active,\nbutton:hover, button:active {\n  background-color: #7CD977;\n  color: #f3f5f6;\n  border-color: #7CD977;\n}\n\n.login-wrapper {\n  position: absolute;\n  padding: 15px;\n  margin: 0 auto;\n  width: 400px;\n  color: #EFF0F1;\n  text-align: center;\n  left: calc(50% - 200px);\n  top: calc(50% - 180px);\n}\n\n.response {\n  margin-top: 10px;\n  padding: 15px;\n  color: #fff;\n  border-radius: 2px;\n}\n\n.response.success {\n  background-color: #51b385;\n  border-color: #63bb92;\n}\n\n.response.error {\n  background-color: #c11532;\n  border-color: #c11532;\n}\n\n@media (max-width: 768px) {\n  .login-wrapper {\n    width: 100%;\n    left: 0;\n    top: 200px;\n    padding: 15px 30px;\n  }\n}\n  </style>\n  <title>Node-RED Node Users</title>\n</head>\n<body>\n  <div class=\"login-wrapper\">\n    \n    <h1>IoTomatoes Dashboard</h1>\n    <form id=\"login-form\">\n      <div class=\"form-group\">\n        <input type=\"text\" name=\"username\" placeholder=\"Username\"/>  \n      </div>\n      <div class=\"form-group\">\n        <input type=\"password\" name=\"password\" placeholder=\"Password\"/>  \n      </div>\n      <button type=\"submit\">Login</button>\n      <div class=\"response\"></div>\n    </form>\n\n  </div>\n    \n  <script src=\"http://code.jquery.com/jquery-3.3.1.min.js\"></script>\n  <script>\n    var responseTimer;\n\n    function showResponse(message, type) {\n      $(\".response\").text(message);\n      $(\".response\").removeClass(\"success\").removeClass(\"error\").addClass(type).show();\n\n      clearTimeout(responseTimer);\n      responseTimer = setTimeout(function () {\n        $(\".response\").fadeOut();\n      }, 4000);\n    }\n\n    function getParameterByName(name) {\n      var match = RegExp('[?&]' + name + '=([^&]*)').exec(window.location.search);\n      return match && decodeURIComponent(match[1].replace(/\\+/g, ' '));\n    }\n\n    $(\"#login-form\").submit(function (e) {\n      e.preventDefault();\n      var username = $(this).find(\"input[name=username]\").val();\n      var password = $(this).find(\"input[name=password]\").val();\n      var cred = {\n        username: username,\n        password: password\n      };\n      $.post('/users', cred).done(function () {\n        showResponse(\"Login success! Redirecting...\", \"success\");\n        setTimeout(function () {\n            window.location = '/ui';  \n        }, 2000);        \n      }).fail(function (xhr) {\n        var msg = \"\";\n        switch(xhr.status) {\n          case 0:\n            msg = \"Failed to connect with server.\";\n            break;\n          case 401: \n            msg = \"Unauthorized: username and password not found\";\n            break;\n          default: \n            msg = \"Server error: oops.. something went wrong...\";\n        }\n        showResponse(msg, \"error\");\n      });\n    });\n  </script>\n\n</body>\n</html>",
        "output": "str",
        "x": 810,
        "y": 1660,
        "wires": [
            [
                "d717db0bb70b4ce6"
            ]
        ]
    },
    {
        "id": "d717db0bb70b4ce6",
        "type": "http response",
        "z": "02cb3553ae92b013",
        "g": "391a168f1f251317",
        "name": "",
        "statusCode": "",
        "headers": {
            "location": "/ui"
        },
        "x": 1010,
        "y": 1660,
        "wires": []
    },
    {
        "id": "3ef3fa91a685bb6c",
        "type": "template",
        "z": "02cb3553ae92b013",
        "g": "391a168f1f251317",
        "name": "custom login page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html lang=\"en\">\n<head>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <meta name=\"apple-mobile-web-app-capable\" content=\"yes\">\n  <meta name=\"mobile-web-app-capable\" content=\"yes\">\n  <style>\n      * {\n  box-sizing: border-box;\n}\n\nhtml {\n  height: 100%;\n}\n\nbody {\n  margin: 0;\n  height: 100%;\n  font-family: -apple-system, BlinkMacSystemFont, \"Segoe UI\", Roboto, Helvetica, Arial, sans-serif, \"Apple Color Emoji\", \"Segoe UI Emoji\", \"Segoe UI Symbol\";\n  font-size: 15px;\n  background: #000;\n}\n\n.form-group {\n  margin-bottom: 15px;\n}\n\n.form-group input {\n  width: 100%;\n  border-radius: 2px;\n\n  display: block;\n  width: 100%;\n  height: 34px;\n  padding: 6px 12px;\n  font-size: 14px;\n  line-height: 1.42857143;\n  color: #555;\n  outline: 0;\n  border: 1px solid #ddd;\n}\n\n.login-wrapper > a, button {\n  text-decoration: none;\n  cursor: pointer;\n  background-color: #6DBD66;\n  border: 1px solid #6DBD66;\n  color: #f3f5f6;\n  transition: color 0.2s, background-color 0.2s;\n\n  text-align: center;\n  padding: 12px 60px;\n  font-size: 1.2rem;\n  display: inline-block;\n  margin-bottom: 1rem;\n  border-radius: 2px;\n  background-color: #6DBD66;\n  font-weight: bold;\n  text-transform: uppercase;\n}\n\n.login-wrapper > a:hover, .login-wrapper > a:active,\nbutton:hover, button:active {\n  background-color: #7CD977;\n  color: #f3f5f6;\n  border-color: #7CD977;\n}\n\n.login-wrapper {\n  position: absolute;\n  padding: 15px;\n  margin: 0 auto;\n  width: 400px;\n  color: #EFF0F1;\n  text-align: center;\n  left: calc(50% - 200px);\n  top: calc(50% - 180px);\n}\n\n.response {\n  margin-top: 10px;\n  padding: 15px;\n  color: #fff;\n  border-radius: 2px;\n}\n\n.response.success {\n  background-color: #51b385;\n  border-color: #63bb92;\n}\n\n.response.error {\n  background-color: #c11532;\n  border-color: #c11532;\n}\n\n@media (max-width: 768px) {\n  .login-wrapper {\n    width: 100%;\n    left: 0;\n    top: 100px;\n    padding: 15px 30px;\n  }\n}\n  </style>\n  <title>Node-RED Node Users</title>\n</head>\n<body>\n\n  <div class=\"login-wrapper\">\n    \n    <h1>IoTomatoes Dashboard</h1>\n    <form id=\"login-form\">\n      <div class=\"form-group\">\n        <input type=\"text\" name=\"username\" placeholder=\"Username\"/>  \n      </div>\n      <div class=\"form-group\">\n        <input type=\"password\" name=\"password\" placeholder=\"Password\"/>  \n      </div>\n      <button type=\"submit\">Login</button>\n      <div class=\"response\"></div>\n    </form>\n\n  </div>\n    \n  <script src=\"http://code.jquery.com/jquery-3.3.1.min.js\"></script>\n  <script>\n    var responseTimer;\n\n    function showResponse(message, type) {\n      $(\".response\").text(message);\n      $(\".response\").removeClass(\"success\").removeClass(\"error\").addClass(type).show();\n\n      clearTimeout(responseTimer);\n      responseTimer = setTimeout(function () {\n        $(\".response\").fadeOut();\n      }, 4000);\n    }\n\n    function getParameterByName(name) {\n      var match = RegExp('[?&]' + name + '=([^&]*)').exec(window.location.search);\n      return match && decodeURIComponent(match[1].replace(/\\+/g, ' '));\n    }\n\n    $(\"#login-form\").submit(function (e) {\n      e.preventDefault();\n      var username = $(this).find(\"input[name=username]\").val();\n      var password = $(this).find(\"input[name=password]\").val();\n      var cred = {\n        username: username,\n        password: password\n      };\n      $.post('/users', cred).done(function () {\n        showResponse(\"Login success! Redirecting...\", \"success\");\n        setTimeout(function () {\n            window.location = '/ui';  \n        }, 2000);        \n      }).fail(function (xhr) {\n        var msg = \"\";\n        switch(xhr.status) {\n          case 0:\n            msg = \"Failed to connect with server.\";\n            break;\n          case 401: \n            msg = \"Unauthorized: username and password not found\";\n            break;\n          default: \n            msg = \"Server error: oops.. something went wrong...\";\n        }\n        showResponse(msg, \"error\");\n      });\n    });\n  </script>\n\n</body>\n</html>",
        "output": "str",
        "x": 810,
        "y": 1720,
        "wires": [
            [
                "53e013bfc082cdb4"
            ]
        ]
    },
    {
        "id": "a8a36027f1a30a87",
        "type": "link in",
        "z": "02cb3553ae92b013",
        "g": "bb60f9b6bd3ea717",
        "name": "",
        "links": [
            "a10a916686548df6",
            "fab7484d5ad0b452"
        ],
        "x": 55,
        "y": 680,
        "wires": [
            [
                "8038cf126db7169b"
            ]
        ]
    },
    {
        "id": "a10a916686548df6",
        "type": "link out",
        "z": "02cb3553ae92b013",
        "g": "bb60f9b6bd3ea717",
        "name": "Refresh",
        "links": [
            "a8a36027f1a30a87"
        ],
        "x": 1105,
        "y": 760,
        "wires": []
    },
    {
        "id": "e6f2dd22e4548866",
        "type": "change",
        "z": "02cb3553ae92b013",
        "g": "a994540f43bb275f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "LogOut",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 100,
        "wires": [
            [
                "5e1f0081.6dc3c"
            ]
        ]
    },
    {
        "id": "51fd8ffc145038d8",
        "type": "change",
        "z": "02cb3553ae92b013",
        "g": "a994540f43bb275f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Bot",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 160,
        "wires": [
            [
                "66642d881492d857"
            ]
        ]
    },
    {
        "id": "d8728bd203542add",
        "type": "change",
        "z": "02cb3553ae92b013",
        "g": "a994540f43bb275f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 220,
        "wires": [
            [
                "9c02d482.9d5358"
            ]
        ]
    },
    {
        "id": "c5bd6843bb0f6d1b",
        "type": "switch",
        "z": "02cb3553ae92b013",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "msg",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "consumption",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1930,
        "y": 320,
        "wires": [
            [
                "9c7caea06b2f7488"
            ],
            [
                "403eb068a6c56b72"
            ]
        ]
    },
    {
        "id": "403eb068a6c56b72",
        "type": "change",
        "z": "02cb3553ae92b013",
        "g": "5db4cd2efd586294",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.tot_consumption",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2140,
        "y": 380,
        "wires": [
            [
                "6240c5a4311b1374"
            ]
        ]
    },
    {
        "id": "7bbe82a8776589cb",
        "type": "function",
        "z": "02cb3553ae92b013",
        "name": "createTopic",
        "func": "var companyName = msg.payload.user.scope\nmsg.topic = \"IoTomatoes/\" + companyName + \"/#\"\nmsg.action = \"subscribe\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 1180,
        "wires": [
            [
                "dfbf834635d69638"
            ]
        ]
    },
    {
        "id": "6ad107896c406953",
        "type": "function",
        "z": "02cb3553ae92b013",
        "name": "ParsingField",
        "func": "if ('field' in msg.payload){\n    msg.topic = msg.payload.field \n}\n    \nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1670,
        "y": 1180,
        "wires": [
            [
                "18ef9d7672f7c702"
            ]
        ]
    },
    {
        "id": "97b1db2e20698e4e",
        "type": "function",
        "z": "02cb3553ae92b013",
        "g": "4e18f425e6a24ecf",
        "name": "ParseType",
        "func": "if ('e' in msg.payload){\n    if ('u' in msg.payload.e.at(-1)){\n        msg.topic = msg.payload.e.at(-1).n\n        msg.payload = msg.payload.e.at(-1).v\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2590,
        "y": 1000,
        "wires": [
            [
                "e83ca185caca3e66"
            ]
        ]
    },
    {
        "id": "a4ae2445dd36fcf3",
        "type": "function",
        "z": "02cb3553ae92b013",
        "g": "3f28e6b5dfc44f56",
        "name": "ParseType",
        "func": "if ('e' in msg.payload){\n    if ('u' in msg.payload.e.at(-1)){\n        msg.topic = msg.payload.e.at(-1).n\n        msg.payload = msg.payload.e.at(-1).v\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2590,
        "y": 520,
        "wires": [
            [
                "eac46f8560f2c263"
            ]
        ]
    },
    {
        "id": "83873ad4b572facd",
        "type": "function",
        "z": "02cb3553ae92b013",
        "g": "8b922a437d7c7313",
        "name": "ParseType",
        "func": "if ('e' in msg.payload){\n    if ('u' in msg.payload.e.at(-1)){\n        msg.topic = msg.payload.e.at(-1).n\n        msg.payload = msg.payload.e.at(-1).v\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2590,
        "y": 1480,
        "wires": [
            [
                "4c710a9fe5b706fc"
            ]
        ]
    },
    {
        "id": "4dd032483a775360",
        "type": "function",
        "z": "02cb3553ae92b013",
        "g": "19fd2c05009fa6d0",
        "name": "ParseType",
        "func": "if ('e' in msg.payload){\n    if ('u' in msg.payload.e.at(-1)){\n        msg.topic = msg.payload.e.at(-1).n\n        msg.payload = msg.payload.e.at(-1).v\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2590,
        "y": 1960,
        "wires": [
            [
                "7cd33036a8d8616a"
            ]
        ]
    },
    {
        "id": "aad9ee250f502cb8",
        "type": "function",
        "z": "02cb3553ae92b013",
        "g": "3f28e6b5dfc44f56",
        "name": "round",
        "func": "msg.payload = Math.round(msg.payload * 100) / 100\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3170,
        "y": 340,
        "wires": [
            [
                "2c2efd34c18d9db1",
                "fb44f5a92f410fe6"
            ]
        ]
    },
    {
        "id": "51c367073159940c",
        "type": "function",
        "z": "02cb3553ae92b013",
        "g": "3f28e6b5dfc44f56",
        "name": "round",
        "func": "msg.payload = Math.round(msg.payload * 100) / 100\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3170,
        "y": 380,
        "wires": [
            [
                "24eefba15c09695d",
                "4e268efb0d1645a9"
            ]
        ]
    },
    {
        "id": "0e5798bee05d69bd",
        "type": "function",
        "z": "02cb3553ae92b013",
        "g": "3f28e6b5dfc44f56",
        "name": "round",
        "func": "msg.payload = Math.round(msg.payload * 100) / 100\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3170,
        "y": 420,
        "wires": [
            [
                "03034e9c20737768",
                "e83ad96effc1adf7"
            ]
        ]
    },
    {
        "id": "2fba57e8550eff35",
        "type": "function",
        "z": "02cb3553ae92b013",
        "g": "3f28e6b5dfc44f56",
        "name": "round",
        "func": "msg.payload = Math.round(msg.payload * 100) / 100\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3170,
        "y": 460,
        "wires": [
            [
                "73f8d0c06fecf7b6",
                "83fc17cda5580730"
            ]
        ]
    },
    {
        "id": "0f568dab6974b856",
        "type": "function",
        "z": "02cb3553ae92b013",
        "g": "4e18f425e6a24ecf",
        "name": "round",
        "func": "msg.payload = Math.round(msg.payload * 100) / 100\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3170,
        "y": 820,
        "wires": [
            [
                "c67a2edac2212cf8",
                "53aae3525606bba3"
            ]
        ]
    },
    {
        "id": "031394f365759b3a",
        "type": "function",
        "z": "02cb3553ae92b013",
        "g": "4e18f425e6a24ecf",
        "name": "round",
        "func": "msg.payload = Math.round(msg.payload * 100) / 100\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3170,
        "y": 860,
        "wires": [
            [
                "1efa5365999f56f7",
                "1cd460e2c946e192"
            ]
        ]
    },
    {
        "id": "eb98bc7c8b5f7e8b",
        "type": "function",
        "z": "02cb3553ae92b013",
        "g": "4e18f425e6a24ecf",
        "name": "round",
        "func": "msg.payload = Math.round(msg.payload * 100) / 100\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3170,
        "y": 900,
        "wires": [
            [
                "0bab9e88f7565b92"
            ]
        ]
    },
    {
        "id": "0f3811a5b407f8ea",
        "type": "function",
        "z": "02cb3553ae92b013",
        "g": "4e18f425e6a24ecf",
        "name": "round",
        "func": "msg.payload = Math.round(msg.payload * 100) / 100\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3170,
        "y": 940,
        "wires": [
            [
                "98126dcf2499f294",
                "d2b7bdc147cb7067",
                "0629882b3ccc52fd"
            ]
        ]
    },
    {
        "id": "aad911653940d433",
        "type": "function",
        "z": "02cb3553ae92b013",
        "g": "8b922a437d7c7313",
        "name": "round",
        "func": "msg.payload = Math.round(msg.payload * 100) / 100\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3170,
        "y": 1300,
        "wires": [
            [
                "888fb099d0aa0f55",
                "46e034a939741cea"
            ]
        ]
    },
    {
        "id": "c836237aedbd17c4",
        "type": "function",
        "z": "02cb3553ae92b013",
        "g": "8b922a437d7c7313",
        "name": "round",
        "func": "msg.payload = Math.round(msg.payload * 100) / 100\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3170,
        "y": 1340,
        "wires": [
            [
                "52ed405914767406",
                "fc038f1b272b5301"
            ]
        ]
    },
    {
        "id": "58965bbb94c07e40",
        "type": "function",
        "z": "02cb3553ae92b013",
        "g": "8b922a437d7c7313",
        "name": "round",
        "func": "msg.payload = Math.round(msg.payload * 100) / 100\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3170,
        "y": 1380,
        "wires": [
            [
                "afbce39933104dc8",
                "f586f029777fac6d"
            ]
        ]
    },
    {
        "id": "2bcdd44652e7aec5",
        "type": "function",
        "z": "02cb3553ae92b013",
        "g": "8b922a437d7c7313",
        "name": "round",
        "func": "msg.payload = Math.round(msg.payload * 100) / 100\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3170,
        "y": 1420,
        "wires": [
            [
                "49ccfc2ed10c3b01",
                "cf0a6b8616d1f28e"
            ]
        ]
    },
    {
        "id": "448e1deab02fa9df",
        "type": "function",
        "z": "02cb3553ae92b013",
        "g": "19fd2c05009fa6d0",
        "name": "round",
        "func": "msg.payload = Math.round(msg.payload * 100) / 100\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3170,
        "y": 1780,
        "wires": [
            [
                "c34209ed0635f47e",
                "f54cec06d64ff5b7"
            ]
        ]
    },
    {
        "id": "26b46b1427cd6ab3",
        "type": "function",
        "z": "02cb3553ae92b013",
        "g": "19fd2c05009fa6d0",
        "name": "round",
        "func": "msg.payload = Math.round(msg.payload * 100) / 100\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3170,
        "y": 1820,
        "wires": [
            [
                "e54193cb89c17b85",
                "24c2b630c987640e"
            ]
        ]
    },
    {
        "id": "3f9d4ad449ce0f75",
        "type": "function",
        "z": "02cb3553ae92b013",
        "g": "19fd2c05009fa6d0",
        "name": "round",
        "func": "msg.payload = Math.round(msg.payload * 100) / 100\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3170,
        "y": 1860,
        "wires": [
            [
                "eed807bf2dbadc21",
                "0cda6b4f399dbe70"
            ]
        ]
    },
    {
        "id": "d129c8e6da9cb482",
        "type": "function",
        "z": "02cb3553ae92b013",
        "g": "19fd2c05009fa6d0",
        "name": "round",
        "func": "msg.payload = Math.round(msg.payload * 100) / 100\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3170,
        "y": 1900,
        "wires": [
            [
                "2c19d50632557235",
                "c1fabe58d255a22e"
            ]
        ]
    },
    {
        "id": "52db96d7ee689014",
        "type": "function",
        "z": "02cb3553ae92b013",
        "name": "Parser",
        "func": "if ('msg' in msg.payload){\n    msg.topic = \"msg\"\n}\nelse if ('tot_consumption' in msg.payload){\n    msg.topic = \"consumption\"\n}\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1570,
        "y": 320,
        "wires": [
            [
                "6e70245c62ec354c"
            ]
        ]
    },
    {
        "id": "672d65f214578c59",
        "type": "ui_button",
        "z": "02cb3553ae92b013",
        "g": "bb60f9b6bd3ea717",
        "name": "IconRefresh",
        "group": "31de8e5b82691490",
        "order": 1,
        "width": 2,
        "height": 2,
        "passthru": false,
        "label": "",
        "tooltip": "Refresh",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-refresh fa-4x",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "topicType": "str",
        "x": 990,
        "y": 760,
        "wires": [
            [
                "a10a916686548df6"
            ]
        ]
    },
    {
        "id": "7db57965.76d468",
        "type": "ui_button",
        "z": "02cb3553ae92b013",
        "g": "a994540f43bb275f",
        "name": "",
        "group": "cdd0e15889b1286d",
        "order": 2,
        "width": 2,
        "height": 2,
        "passthru": false,
        "label": "LOG OUT",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-sign-out fa-2x",
        "payload": "1",
        "payloadType": "str",
        "topic": "button",
        "topicType": "str",
        "x": 100,
        "y": 100,
        "wires": [
            [
                "e6f2dd22e4548866"
            ]
        ]
    },
    {
        "id": "582f5d3901886eb0",
        "type": "ui_button",
        "z": "02cb3553ae92b013",
        "g": "a994540f43bb275f",
        "name": "",
        "group": "cdd0e15889b1286d",
        "order": 3,
        "width": 7,
        "height": 1,
        "passthru": false,
        "label": "IoTomatoes Bot",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-telegram fa-2x",
        "payload": "Bot",
        "payloadType": "str",
        "topic": "button",
        "topicType": "str",
        "x": 120,
        "y": 160,
        "wires": [
            [
                "51fd8ffc145038d8"
            ]
        ]
    },
    {
        "id": "d908d27b99c926f7",
        "type": "ui_button",
        "z": "02cb3553ae92b013",
        "g": "a994540f43bb275f",
        "name": "MapRefresh",
        "group": "dc85dc3382f47ab2",
        "order": 1,
        "width": 7,
        "height": 1,
        "passthru": false,
        "label": "Refresh Map",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-refresh fa-2x",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "topicType": "str",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "d8728bd203542add"
            ]
        ]
    },
    {
        "id": "5342d4bc47d66263",
        "type": "ui_text",
        "z": "02cb3553ae92b013",
        "g": "3f28e6b5dfc44f56",
        "group": "f1b999f5373c31d8",
        "order": 2,
        "width": 3,
        "height": 2,
        "name": "Pumps1",
        "label": "",
        "format": "Pumps",
        "layout": "col-center",
        "className": "experiment wibble",
        "x": 3220,
        "y": 540,
        "wires": []
    },
    {
        "id": "6efdabf954b96cda",
        "type": "ui_text",
        "z": "02cb3553ae92b013",
        "g": "3f28e6b5dfc44f56",
        "group": "f1b999f5373c31d8",
        "order": 5,
        "width": 3,
        "height": 2,
        "name": "Led1",
        "label": "",
        "format": "Leds",
        "layout": "col-center",
        "className": "experiment wibble",
        "x": 3190,
        "y": 620,
        "wires": []
    },
    {
        "id": "f9ecc638e9b048c9",
        "type": "ui_text",
        "z": "02cb3553ae92b013",
        "g": "4e18f425e6a24ecf",
        "group": "5e32d1811541c3ed",
        "order": 2,
        "width": 3,
        "height": 2,
        "name": "Pumps2",
        "label": "",
        "format": "Pumps",
        "layout": "col-center",
        "className": "experiment wibble",
        "x": 3220,
        "y": 1020,
        "wires": []
    },
    {
        "id": "bdb4433aef743072",
        "type": "ui_text",
        "z": "02cb3553ae92b013",
        "g": "4e18f425e6a24ecf",
        "group": "5e32d1811541c3ed",
        "order": 5,
        "width": 3,
        "height": 2,
        "name": "Led",
        "label": "",
        "format": "Leds",
        "layout": "col-center",
        "className": "experiment wibble",
        "x": 3190,
        "y": 1100,
        "wires": []
    },
    {
        "id": "aea6fb4bd2462b92",
        "type": "ui_text",
        "z": "02cb3553ae92b013",
        "g": "8b922a437d7c7313",
        "group": "d4d16815f75585a6",
        "order": 2,
        "width": 3,
        "height": 2,
        "name": "Pumps3",
        "label": "",
        "format": "Pumps",
        "layout": "col-center",
        "className": "experiment wibble",
        "x": 3220,
        "y": 1500,
        "wires": []
    },
    {
        "id": "d9c3a06a8f6fccc7",
        "type": "ui_text",
        "z": "02cb3553ae92b013",
        "g": "8b922a437d7c7313",
        "group": "d4d16815f75585a6",
        "order": 5,
        "width": 3,
        "height": 2,
        "name": "Led3",
        "label": "",
        "format": "Leds",
        "layout": "col-center",
        "className": "experiment wibble",
        "x": 3190,
        "y": 1580,
        "wires": []
    },
    {
        "id": "8631c8a6c634c3bd",
        "type": "ui_text",
        "z": "02cb3553ae92b013",
        "g": "19fd2c05009fa6d0",
        "group": "63c960e3ff3fcba6",
        "order": 2,
        "width": 3,
        "height": 2,
        "name": "Pumps4",
        "label": "",
        "format": "Pumps",
        "layout": "col-center",
        "className": "experiment wibble",
        "x": 3220,
        "y": 1980,
        "wires": []
    },
    {
        "id": "96e4525f84948289",
        "type": "ui_text",
        "z": "02cb3553ae92b013",
        "g": "19fd2c05009fa6d0",
        "group": "63c960e3ff3fcba6",
        "order": 5,
        "width": 3,
        "height": 2,
        "name": "Led4",
        "label": "",
        "format": "Leds",
        "layout": "col-center",
        "className": "experiment wibble",
        "x": 3190,
        "y": 2060,
        "wires": []
    },
    {
        "id": "3bc1a73387e55ecc",
        "type": "ui_text",
        "z": "02cb3553ae92b013",
        "g": "bb60f9b6bd3ea717",
        "group": "31de8e5b82691490",
        "order": 7,
        "width": 2,
        "height": 1,
        "name": "Description",
        "label": "",
        "format": "{{msg.payload.weather[0].description}}",
        "layout": "row-left",
        "className": "",
        "x": 990,
        "y": 560,
        "wires": []
    },
    {
        "id": "0a69c69292f3e8a3",
        "type": "ui_text",
        "z": "02cb3553ae92b013",
        "g": "bb60f9b6bd3ea717",
        "group": "31de8e5b82691490",
        "order": 6,
        "width": 3,
        "height": 1,
        "name": "Wind",
        "label": "",
        "format": "{{msg.payload.wind.speed}}&nbsp;&nbsp;<i class=\"wi wi-darksky-wind\"></i>&nbsp;&nbsp;{{msg.payload.wind.cardinal}}",
        "layout": "col-center",
        "className": "",
        "x": 970,
        "y": 640,
        "wires": []
    },
    {
        "id": "2c2d4a99bf958b4d",
        "type": "ui_text",
        "z": "02cb3553ae92b013",
        "g": "bb60f9b6bd3ea717",
        "group": "31de8e5b82691490",
        "order": 3,
        "width": 3,
        "height": 1,
        "name": "SunriseTime",
        "label": "",
        "format": "<i class=\"wi wi-owm-01d\"></i>&nbsp;<i class=\"fa fa-arrow-up\"></i>&nbsp;&nbsp;{{msg.payload.sys.sunrise}}",
        "layout": "row-center",
        "className": "",
        "x": 990,
        "y": 680,
        "wires": []
    },
    {
        "id": "4408ac535d8e637e",
        "type": "ui_text",
        "z": "02cb3553ae92b013",
        "g": "bb60f9b6bd3ea717",
        "group": "31de8e5b82691490",
        "order": 4,
        "width": 3,
        "height": 1,
        "name": "SunsetTime",
        "label": "",
        "format": "<i class=\"wi wi-wu-sunny\"></i>&nbsp;<i class=\"fa fa-arrow-down\"></i>&nbsp;&nbsp;{{msg.payload.sys.sunset}}",
        "layout": "row-center",
        "className": "",
        "x": 990,
        "y": 720,
        "wires": []
    },
    {
        "id": "10b2378e7b1bd76c",
        "type": "ui_text",
        "z": "02cb3553ae92b013",
        "g": "bb60f9b6bd3ea717",
        "group": "31de8e5b82691490",
        "order": 5,
        "width": 2,
        "height": 1,
        "name": "Temperature",
        "label": "",
        "format": "<p style=\"font-size: 200%\">{{msg.payload.main.temp}}</p>",
        "layout": "row-center",
        "className": "",
        "x": 990,
        "y": 600,
        "wires": []
    },
    {
        "id": "2c2efd34c18d9db1",
        "type": "ui_gauge",
        "z": "02cb3553ae92b013",
        "g": "3f28e6b5dfc44f56",
        "name": "Temp. Gauge1",
        "group": "78956960e46b2a2e",
        "order": 1,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Temperature [째C]",
        "label": "units",
        "format": "{{value}}",
        "min": "-20",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "30",
        "diff": false,
        "className": "",
        "x": 3400,
        "y": 260,
        "wires": []
    },
    {
        "id": "24eefba15c09695d",
        "type": "ui_gauge",
        "z": "02cb3553ae92b013",
        "g": "3f28e6b5dfc44f56",
        "name": "Hum. Gauge1",
        "group": "78956960e46b2a2e",
        "order": 3,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Humidity [%]",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 3400,
        "y": 340,
        "wires": []
    },
    {
        "id": "03034e9c20737768",
        "type": "ui_gauge",
        "z": "02cb3553ae92b013",
        "g": "3f28e6b5dfc44f56",
        "name": "Moist. Gauge1",
        "group": "78956960e46b2a2e",
        "order": 5,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Soil Moisture [%]",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 3400,
        "y": 420,
        "wires": []
    },
    {
        "id": "73f8d0c06fecf7b6",
        "type": "ui_gauge",
        "z": "02cb3553ae92b013",
        "g": "3f28e6b5dfc44f56",
        "name": "Light Gauge1",
        "group": "78956960e46b2a2e",
        "order": 7,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Light [lux]",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "10000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "2000",
        "seg2": "7000",
        "diff": false,
        "className": "",
        "x": 3400,
        "y": 500,
        "wires": []
    },
    {
        "id": "c67a2edac2212cf8",
        "type": "ui_gauge",
        "z": "02cb3553ae92b013",
        "g": "4e18f425e6a24ecf",
        "name": "Temp. Gauge2",
        "group": "99dca6761e2d9c28",
        "order": 1,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Temperature [째C]",
        "label": "units",
        "format": "{{value}}",
        "min": "-20",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "30",
        "diff": false,
        "className": "",
        "x": 3400,
        "y": 740,
        "wires": []
    },
    {
        "id": "1efa5365999f56f7",
        "type": "ui_gauge",
        "z": "02cb3553ae92b013",
        "g": "4e18f425e6a24ecf",
        "name": "Hum. Gauge2",
        "group": "99dca6761e2d9c28",
        "order": 3,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Humidity [%]",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 3400,
        "y": 820,
        "wires": []
    },
    {
        "id": "0bab9e88f7565b92",
        "type": "ui_gauge",
        "z": "02cb3553ae92b013",
        "g": "4e18f425e6a24ecf",
        "name": "Moist. Gauge2",
        "group": "99dca6761e2d9c28",
        "order": 5,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Soil Moisture [%]",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 3400,
        "y": 900,
        "wires": []
    },
    {
        "id": "d2b7bdc147cb7067",
        "type": "ui_gauge",
        "z": "02cb3553ae92b013",
        "g": "4e18f425e6a24ecf",
        "name": "Light Gauge2",
        "group": "99dca6761e2d9c28",
        "order": 7,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Light [lux]",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "10000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "2000",
        "seg2": "7000",
        "diff": false,
        "className": "",
        "x": 3400,
        "y": 980,
        "wires": []
    },
    {
        "id": "888fb099d0aa0f55",
        "type": "ui_gauge",
        "z": "02cb3553ae92b013",
        "g": "8b922a437d7c7313",
        "name": "Temp. Gauge3",
        "group": "76c122f563a2790b",
        "order": 1,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Temperature [째C]",
        "label": "units",
        "format": "{{value}}",
        "min": "-20",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "30",
        "diff": false,
        "className": "",
        "x": 3400,
        "y": 1220,
        "wires": []
    },
    {
        "id": "52ed405914767406",
        "type": "ui_gauge",
        "z": "02cb3553ae92b013",
        "g": "8b922a437d7c7313",
        "name": "Hum. Gauge3",
        "group": "76c122f563a2790b",
        "order": 3,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Humidity [%]",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 3400,
        "y": 1300,
        "wires": []
    },
    {
        "id": "afbce39933104dc8",
        "type": "ui_gauge",
        "z": "02cb3553ae92b013",
        "g": "8b922a437d7c7313",
        "name": "Moist. Gauge3",
        "group": "76c122f563a2790b",
        "order": 5,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Soil Moisture [%]",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 3400,
        "y": 1380,
        "wires": []
    },
    {
        "id": "49ccfc2ed10c3b01",
        "type": "ui_gauge",
        "z": "02cb3553ae92b013",
        "g": "8b922a437d7c7313",
        "name": "Light Gauge3",
        "group": "76c122f563a2790b",
        "order": 7,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Light [lux]",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "10000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "2000",
        "seg2": "7000",
        "diff": false,
        "className": "",
        "x": 3400,
        "y": 1460,
        "wires": []
    },
    {
        "id": "c34209ed0635f47e",
        "type": "ui_gauge",
        "z": "02cb3553ae92b013",
        "g": "19fd2c05009fa6d0",
        "name": "Temp. Gauge4",
        "group": "dca27f708d79a283",
        "order": 1,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Temperature [째C]",
        "label": "units",
        "format": "{{value}}",
        "min": "-20",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "30",
        "diff": false,
        "className": "",
        "x": 3400,
        "y": 1700,
        "wires": []
    },
    {
        "id": "e54193cb89c17b85",
        "type": "ui_gauge",
        "z": "02cb3553ae92b013",
        "g": "19fd2c05009fa6d0",
        "name": "Hum. Gauge4",
        "group": "dca27f708d79a283",
        "order": 3,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Humidity [%]",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 3400,
        "y": 1780,
        "wires": []
    },
    {
        "id": "eed807bf2dbadc21",
        "type": "ui_gauge",
        "z": "02cb3553ae92b013",
        "g": "19fd2c05009fa6d0",
        "name": "Moist. Gauge4",
        "group": "dca27f708d79a283",
        "order": 5,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Soil Moisture [%]",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 3400,
        "y": 1860,
        "wires": []
    },
    {
        "id": "2c19d50632557235",
        "type": "ui_gauge",
        "z": "02cb3553ae92b013",
        "g": "19fd2c05009fa6d0",
        "name": "Light Gauge4",
        "group": "dca27f708d79a283",
        "order": 7,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Light [lux]",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "10000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "2000",
        "seg2": "7000",
        "diff": false,
        "className": "",
        "x": 3400,
        "y": 1940,
        "wires": []
    },
    {
        "id": "fb44f5a92f410fe6",
        "type": "ui_chart",
        "z": "02cb3553ae92b013",
        "g": "3f28e6b5dfc44f56",
        "name": "Temp. Chart1",
        "group": "78956960e46b2a2e",
        "order": 2,
        "width": 4,
        "height": 3,
        "label": "Temperature Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-20",
        "ymax": "70",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 3400,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "4e268efb0d1645a9",
        "type": "ui_chart",
        "z": "02cb3553ae92b013",
        "g": "3f28e6b5dfc44f56",
        "name": "Hum. Chart1",
        "group": "78956960e46b2a2e",
        "order": 4,
        "width": 4,
        "height": 3,
        "label": "Humidity Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 3390,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "e83ad96effc1adf7",
        "type": "ui_chart",
        "z": "02cb3553ae92b013",
        "g": "3f28e6b5dfc44f56",
        "name": "Moist. Chart1",
        "group": "78956960e46b2a2e",
        "order": 6,
        "width": 4,
        "height": 3,
        "label": "Soil Moisture Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 3400,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "83fc17cda5580730",
        "type": "ui_chart",
        "z": "02cb3553ae92b013",
        "g": "3f28e6b5dfc44f56",
        "name": "Light Chart1",
        "group": "78956960e46b2a2e",
        "order": 8,
        "width": 4,
        "height": 3,
        "label": "Light Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "10000",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 3390,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "b5ac355193f174ed",
        "type": "ui_chart",
        "z": "02cb3553ae92b013",
        "g": "3f28e6b5dfc44f56",
        "name": "PumpChart1",
        "group": "f1b999f5373c31d8",
        "order": 3,
        "width": 4,
        "height": 3,
        "label": "Pumps Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 3270,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "fe51f73e3c6ad05a",
        "type": "ui_chart",
        "z": "02cb3553ae92b013",
        "g": "3f28e6b5dfc44f56",
        "name": "LedChart1",
        "group": "f1b999f5373c31d8",
        "order": 6,
        "width": 4,
        "height": 3,
        "label": "Leds Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 3270,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "455662e056652b7b",
        "type": "ui_chart",
        "z": "02cb3553ae92b013",
        "g": "4e18f425e6a24ecf",
        "name": "PumpChart2",
        "group": "5e32d1811541c3ed",
        "order": 3,
        "width": 4,
        "height": 3,
        "label": "Pumps Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 3270,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "5bb95e196c108f7c",
        "type": "ui_chart",
        "z": "02cb3553ae92b013",
        "g": "4e18f425e6a24ecf",
        "name": "LedChart2",
        "group": "5e32d1811541c3ed",
        "order": 6,
        "width": 4,
        "height": 3,
        "label": "Leds Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 3270,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "53aae3525606bba3",
        "type": "ui_chart",
        "z": "02cb3553ae92b013",
        "g": "4e18f425e6a24ecf",
        "name": "Temp. Chart2",
        "group": "99dca6761e2d9c28",
        "order": 2,
        "width": 4,
        "height": 3,
        "label": "Temperature Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-20",
        "ymax": "80",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 3400,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "1cd460e2c946e192",
        "type": "ui_chart",
        "z": "02cb3553ae92b013",
        "g": "4e18f425e6a24ecf",
        "name": "Hum. Chart2",
        "group": "99dca6761e2d9c28",
        "order": 4,
        "width": 4,
        "height": 3,
        "label": "Humidity Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 3390,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "98126dcf2499f294",
        "type": "ui_chart",
        "z": "02cb3553ae92b013",
        "g": "4e18f425e6a24ecf",
        "name": "Moist. Chart2",
        "group": "99dca6761e2d9c28",
        "order": 6,
        "width": 4,
        "height": 3,
        "label": "Soil Moisture Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 3400,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "0629882b3ccc52fd",
        "type": "ui_chart",
        "z": "02cb3553ae92b013",
        "g": "4e18f425e6a24ecf",
        "name": "Light Chart2",
        "group": "99dca6761e2d9c28",
        "order": 8,
        "width": 4,
        "height": 3,
        "label": "Light Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "10000",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 3390,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "6e85dcc4f5a6f503",
        "type": "ui_chart",
        "z": "02cb3553ae92b013",
        "g": "8b922a437d7c7313",
        "name": "PumpChart3",
        "group": "d4d16815f75585a6",
        "order": 3,
        "width": 4,
        "height": 3,
        "label": "Pumps Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 3270,
        "y": 1540,
        "wires": [
            []
        ]
    },
    {
        "id": "aefdc1d1de2e17d6",
        "type": "ui_chart",
        "z": "02cb3553ae92b013",
        "g": "8b922a437d7c7313",
        "name": "LedChart3",
        "group": "d4d16815f75585a6",
        "order": 6,
        "width": 4,
        "height": 3,
        "label": "Leds Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 3270,
        "y": 1620,
        "wires": [
            []
        ]
    },
    {
        "id": "46e034a939741cea",
        "type": "ui_chart",
        "z": "02cb3553ae92b013",
        "g": "8b922a437d7c7313",
        "name": "Temp. Chart3",
        "group": "76c122f563a2790b",
        "order": 2,
        "width": 4,
        "height": 3,
        "label": "Temperature Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-20",
        "ymax": "50",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 3400,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "fc038f1b272b5301",
        "type": "ui_chart",
        "z": "02cb3553ae92b013",
        "g": "8b922a437d7c7313",
        "name": "Hum. Chart3",
        "group": "76c122f563a2790b",
        "order": 4,
        "width": 4,
        "height": 3,
        "label": "Humidity Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 3390,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "f586f029777fac6d",
        "type": "ui_chart",
        "z": "02cb3553ae92b013",
        "g": "8b922a437d7c7313",
        "name": "Moist. Chart3",
        "group": "76c122f563a2790b",
        "order": 6,
        "width": 4,
        "height": 3,
        "label": "Soil Moisture Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 3400,
        "y": 1420,
        "wires": [
            []
        ]
    },
    {
        "id": "cf0a6b8616d1f28e",
        "type": "ui_chart",
        "z": "02cb3553ae92b013",
        "g": "8b922a437d7c7313",
        "name": "Light Chart3",
        "group": "76c122f563a2790b",
        "order": 8,
        "width": 4,
        "height": 3,
        "label": "Light Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "10000",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 3390,
        "y": 1500,
        "wires": [
            []
        ]
    },
    {
        "id": "87976ef5d4492b23",
        "type": "ui_chart",
        "z": "02cb3553ae92b013",
        "g": "19fd2c05009fa6d0",
        "name": "PumpChart4",
        "group": "63c960e3ff3fcba6",
        "order": 3,
        "width": 4,
        "height": 3,
        "label": "Pumps Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 3270,
        "y": 2020,
        "wires": [
            []
        ]
    },
    {
        "id": "a55812fc7c5935c6",
        "type": "ui_chart",
        "z": "02cb3553ae92b013",
        "g": "19fd2c05009fa6d0",
        "name": "LedChart4",
        "group": "63c960e3ff3fcba6",
        "order": 6,
        "width": 4,
        "height": 3,
        "label": "Leds Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 3270,
        "y": 2100,
        "wires": [
            []
        ]
    },
    {
        "id": "f54cec06d64ff5b7",
        "type": "ui_chart",
        "z": "02cb3553ae92b013",
        "g": "19fd2c05009fa6d0",
        "name": "Temp. Chart4",
        "group": "dca27f708d79a283",
        "order": 2,
        "width": 4,
        "height": 3,
        "label": "Temperature Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-20",
        "ymax": "50",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 3400,
        "y": 1740,
        "wires": [
            []
        ]
    },
    {
        "id": "24c2b630c987640e",
        "type": "ui_chart",
        "z": "02cb3553ae92b013",
        "g": "19fd2c05009fa6d0",
        "name": "Hum. Chart4",
        "group": "dca27f708d79a283",
        "order": 4,
        "width": 4,
        "height": 3,
        "label": "Humidity Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 3390,
        "y": 1820,
        "wires": [
            []
        ]
    },
    {
        "id": "0cda6b4f399dbe70",
        "type": "ui_chart",
        "z": "02cb3553ae92b013",
        "g": "19fd2c05009fa6d0",
        "name": "Moist. Chart4",
        "group": "dca27f708d79a283",
        "order": 6,
        "width": 4,
        "height": 3,
        "label": "Soil Moisture Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 3400,
        "y": 1900,
        "wires": [
            []
        ]
    },
    {
        "id": "c1fabe58d255a22e",
        "type": "ui_chart",
        "z": "02cb3553ae92b013",
        "g": "19fd2c05009fa6d0",
        "name": "Light Chart4",
        "group": "dca27f708d79a283",
        "order": 8,
        "width": 4,
        "height": 3,
        "label": "Light Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "10000",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 3390,
        "y": 1980,
        "wires": [
            []
        ]
    },
    {
        "id": "6240c5a4311b1374",
        "type": "ui_chart",
        "z": "02cb3553ae92b013",
        "g": "5db4cd2efd586294",
        "name": "Consumption Chart",
        "group": "034412fb686048d4",
        "order": 1,
        "width": 7,
        "height": 4,
        "label": "Total Consumption [kWh]",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#2ca02c",
            "#aec7e8",
            "#ff7f0e",
            "#9467bd",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2350,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "12d02359270bd16d",
        "type": "ui_ui_control",
        "z": "02cb3553ae92b013",
        "g": "bb60f9b6bd3ea717",
        "name": "Update tab",
        "events": "change",
        "x": 110,
        "y": 620,
        "wires": [
            [
                "8038cf126db7169b"
            ]
        ]
    },
    {
        "id": "4acd89a95feaa598",
        "type": "ui_ui_control",
        "z": "02cb3553ae92b013",
        "g": "a994540f43bb275f",
        "name": "",
        "events": "connect",
        "x": 100,
        "y": 280,
        "wires": [
            [
                "d8728bd203542add"
            ]
        ]
    },
    {
        "id": "85965edc.72971",
        "type": "ui_template",
        "z": "02cb3553ae92b013",
        "g": "c26214e6e68e6bbb",
        "group": "2a745e6b.07df92",
        "name": "Dashboard Theme : Modern Dark",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div>\n    <link href=\"https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap\" rel=\"stylesheet\">\n    <style>\n        body {\n            --background: #212529;\n            --on-background: white;\n            --surface: #2d3136;\n            --on-surface: white;\n            --primary: var(--nr-dashboard-widgetColor);\n            --on-primary: white;\n            --secondary: white;\n            --accent: red;\n            --radius-s: 8px;\n            --font-weight-m: 300;\n            --font-weight-m: 500;\n            --font-weight-l: 700;\n            --space-s: 8px;\n            --space-m: 16px;\n            --space-l: 32px;\n        }\n\n        body.nr-dashboard-theme {\n            background-color: var(--background);\n            font-family: 'Montserrat', sans-serif;\n        }\n        .nr-dashboard-theme ui-card-panel {\n            background-color: var(--background);\n            border: 0;\n        }\n        .nr-dashboard-theme .nr-dashboard-button .md-button {\n            background-color: var(--primary);\n            border-radius: var(--radius-s);\n            padding: 8px !important;\n            line-height: inherit;\n            font-weight: var(--font-weight-l);\n            color: var(--on-primary);\n        }\n        .nr-dashboard-theme [ui-card-size=\"2x2\"].nr-dashboard-button .md-button {\n            display: flex;\n            flex-direction: column;\n            justify-content: center;\n            align-items: center;\n            white-space: pre-line;\n        }\n        \n        .nr-dashboard-theme .nr-dashboard-button .md-button ui-icon {\n            margin-bottom: 8px;\n        }\n        .nr-dashboard-theme .nr-dashboard-button .md-button:hover {\n            background-color: var(--primary);\n        }\n        body.nr-dashboard-theme md-content md-card {\n            background-color: var(--surface);\n        }\n        md-card.md-default-theme, md-card {\n            border-radius: var(--radius-s);\n        }\n        .nr-dashboard-theme .nr-dashboard-gauge-titlel {\n            font-weight: var(--font-weight-l) !important;      \n        }\n        .nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {\n            font-weight: var(--font-weight-l);  \n            text-transform: capitalize;\n            color: var(--on-background);\n        }\n        .nr-dashboard-cardpanel > p {\n            margin-left: 0;\n            padding-left: 16px;\n        }\n        body.nr-dashboard-theme md-toolbar {\n            background-color: var(--surface);\n        }\n        .md-default-theme .md-datepicker-calendar, .md-datepicker-calendar,\n        .md-default-theme .md-calendar, .md-calendar{\n            background-color: var(--surface);\n            color: var(--on-surface);\n        }\n        .md-default-theme .md-datepicker-calendar-pane, .md-datepicker-calendar-pane{\n            border: 0;\n        }\n        .md-default-theme .md-calendar-month-label md-icon, .md-calendar-month-label md-icon, .md-default-theme .md-datepicker-input, .md-datepicker-input {\n            color: var(--on-surface);\n        }\n        body.nr-dashboard-theme md-content md-card {\n            color: var(--on-surface);\n        }\n        .nr-dashboard-theme .nr-dashboard-numeric .value {\n            background-color: var(--surface);\n            color: var(--on-surface);\n        }\n        .nr-dashboard-theme .nr-dashboard-dropdown md-select .md-select-value, .nr-dashboard-theme .nr-dashboard-dropdown md-select .md-select-value.md-select-placeholder {\n            color: var(--on-surface);\n            border-color: var(--on-surface);\n        }\n        .nr-dashboard-theme .nr-dashboard-dropdown .md-select-icon {\n            color: var(--on-surface);\n        }\n        .nr-dashboard-theme .nr-dashboard-date-picker md-input-container .md-input {\n            color: var(--on-surface);\n            border-color: var(--on-surface);\n        }\n        .nr-dashboard-theme .nr-dashboard-date-picker .md-datepicker-triangle-button .md-datepicker-expand-triangle {\n            border-top-color: var(--on-surface);\n        }\n        body.nr-dashboard-theme md-sidenav {\n            background-color: var(--surface);\n        }\n        md-list-item._md-button-wrap > div.md-button:first-child, md-list-item .md-list-item-inner {\n            background-color: var(--surface);\n        }\n    </style>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "global",
        "className": "",
        "x": 820,
        "y": 80,
        "wires": [
            []
        ],
        "icon": "node-red-dashboard/ui_colour_picker.png",
        "info": "# Modern Dark Theme for node-red-dashboard\n\nInspired by Victor Lucachi with his [Node Red Dashboard Concept](https://dribbble.com/shots/10356530-Node-Red-Dashboard-Concept) on Dribbble. Thank you for your work.\n\n## Customize\n\n1. Go on dashboard customisation tab (At the right of Debug Console).\n2. Select the style `Dark`.\n3. Pick the color you want. Example `#66B5F8`\n\n## Buttons\n\nUse `2x2` size for buttons with icon and text on the screenshot"
    },
    {
        "id": "b9221fd47ca8e295",
        "type": "ui_template",
        "z": "02cb3553ae92b013",
        "g": "bb60f9b6bd3ea717",
        "group": "31de8e5b82691490",
        "name": "Forecast2",
        "order": 2,
        "width": 2,
        "height": 2,
        "format": "<body style=\"background-color:#2d3136;\">\n <div style=\"height: 100%; justify-content: center; align-items: center;\">\n  <div layout=\"rowicons\" layout-align=\"space-around start\" ng-repeat=\"data in msg.payload.rowicons\" style=\"font-size:150%;padding-top: 5px;padding-bottom: 5px\">\n   <span flex style=\"color: white;text-align: center\"><i class=\"wi wi-owm-{{data.cell01}}\"></i></span>\n  </div>\n  <div layout=\"rowtext\" layout-align=\"space-around start\" ng-repeat=\"data in msg.payload.rowtext\" style=\"line-height: 150%\">\n   <span flex style=\"color: white;text-align: center;\">{{data.cell01}}</span>\n  </div>\n </div>\n</body> ",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "backgr",
        "x": 980,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "0ce89a9652356528",
        "type": "ui_template",
        "z": "02cb3553ae92b013",
        "g": "c26214e6e68e6bbb",
        "group": "f1b999f5373c31d8",
        "name": "Field 1 Format",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n    .nr-dashboard-text.experiment {\n        background-color: #6DBD66\n    }\n    .nr-dashboard-text.wibble p.label{\n        font-size: 1.0em;\n    }\n    .nr-dashboard-text.wibble p.value{\n        font-size: 1.6em;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 760,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "cd10d3a39cd5b234",
        "type": "ui_template",
        "z": "02cb3553ae92b013",
        "g": "c26214e6e68e6bbb",
        "group": "5e32d1811541c3ed",
        "name": "Field 2 Format",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n    .nr-dashboard-text.experiment {\n        background-color: #6DBD66\n    }\n    .nr-dashboard-text.wibble p.label{\n        font-size: 1.0em;\n    }\n    .nr-dashboard-text.wibble p.value{\n        font-size: 1.6em;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 760,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "3e97dbcc43ab18fd",
        "type": "ui_template",
        "z": "02cb3553ae92b013",
        "g": "c26214e6e68e6bbb",
        "group": "d4d16815f75585a6",
        "name": "Field 3 Format",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n    .nr-dashboard-text.experiment {\n        background-color: #6DBD66\n    }\n    .nr-dashboard-text.wibble p.label{\n        font-size: 1.0em;\n    }\n    .nr-dashboard-text.wibble p.value{\n        font-size: 1.6em;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 760,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "927887d0709d399f",
        "type": "ui_template",
        "z": "02cb3553ae92b013",
        "g": "c26214e6e68e6bbb",
        "group": "63c960e3ff3fcba6",
        "name": "Field 4 Format",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n    .nr-dashboard-text.experiment {\n        background-color: #6DBD66\n    }\n    .nr-dashboard-text.wibble p.label{\n        font-size: 1.0em;\n    }\n    .nr-dashboard-text.wibble p.value{\n        font-size: 1.6em;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 760,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "66642d881492d857",
        "type": "ui_template",
        "z": "02cb3553ae92b013",
        "g": "a994540f43bb275f",
        "group": "cdd0e15889b1286d",
        "name": "Bot redirect",
        "order": 5,
        "width": 0,
        "height": 0,
        "format": "<script>\n    (function(scope) {\n    scope.$watch('msg.payload', function(data) {\n        if (data == \"Bot\") {\n          window.open(\"https://t.me/IoTomatoes_bot\");\n          window.location.href = \"https://t.me/IoTomatoes_bot\";\n        }\n    });\n})(scope);\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 490,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "5e1f0081.6dc3c",
        "type": "ui_template",
        "z": "02cb3553ae92b013",
        "g": "a994540f43bb275f",
        "group": "cdd0e15889b1286d",
        "name": "LogOUT redirect",
        "order": 4,
        "width": 0,
        "height": 0,
        "format": "<script>\n    (function(scope) {\n    scope.$watch('msg.payload', function(data) {\n        if (data == \"LogOut\") {\n          window.open(\"/users/logout?return=/IoTomatoes\");\n          window.location.href = \"/users/logout?return=/IoTomatoes\";\n        }\n    });\n})(scope);\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 510,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "9c02d482.9d5358",
        "type": "ui_template",
        "z": "02cb3553ae92b013",
        "g": "a994540f43bb275f",
        "group": "dc85dc3382f47ab2",
        "name": "Localization Map",
        "order": 2,
        "width": 7,
        "height": 4,
        "format": " <img src=\"http://hailshamhistoricalsociety.co.uk/images/Museum-entrance.png\" width=\"50\" height=\"2\">\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 510,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "802aa86040a797e7",
        "type": "ui_table",
        "z": "02cb3553ae92b013",
        "g": "30a30b3838206912",
        "group": "6fd2c0e41aa3f4f8",
        "name": "",
        "order": 1,
        "width": 7,
        "height": 4,
        "columns": [
            {
                "field": "time",
                "title": "Datetime",
                "width": "32%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "message",
                "title": "Message",
                "width": "48%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "type",
                "title": "Type",
                "width": "20%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 2290,
        "y": 260,
        "wires": []
    },
    {
        "id": "8ce613025de24ca7",
        "type": "ui_media",
        "z": "02cb3553ae92b013",
        "g": "c26214e6e68e6bbb",
        "group": "cdd0e15889b1286d",
        "name": "",
        "width": 5,
        "height": 2,
        "order": 1,
        "category": "Logo",
        "file": "IoTomatoes_logo.png",
        "layout": "center",
        "showcontrols": true,
        "loop": false,
        "onstart": true,
        "scope": "local",
        "tooltip": "",
        "x": 730,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "6e70245c62ec354c",
        "type": "simpletime",
        "z": "02cb3553ae92b013",
        "name": "",
        "mydate": false,
        "myymd": false,
        "myyear": true,
        "mymonth": false,
        "mymonthn": true,
        "mydom": true,
        "mydoy": false,
        "myday": false,
        "myhourpm": false,
        "myhour": false,
        "mytime": true,
        "mytimes": false,
        "myminute": false,
        "myminutes": false,
        "mysecond": false,
        "mymillis": false,
        "myepoch": false,
        "myrawdate": false,
        "mypm": false,
        "x": 1750,
        "y": 320,
        "wires": [
            [
                "c5bd6843bb0f6d1b"
            ]
        ]
    },
    {
        "id": "6ea3a4d1b3092901",
        "type": "moving-average",
        "z": "02cb3553ae92b013",
        "g": "3f28e6b5dfc44f56",
        "name": "AVG",
        "amount": "2",
        "weight": "cumulative",
        "x": 3050,
        "y": 340,
        "wires": [
            [
                "aad9ee250f502cb8"
            ]
        ]
    },
    {
        "id": "d1e4db31733521c1",
        "type": "moving-average",
        "z": "02cb3553ae92b013",
        "g": "3f28e6b5dfc44f56",
        "name": "AVG",
        "amount": 10,
        "weight": "cumulative",
        "x": 3050,
        "y": 380,
        "wires": [
            [
                "51c367073159940c"
            ]
        ]
    },
    {
        "id": "528c1a899d208d24",
        "type": "moving-average",
        "z": "02cb3553ae92b013",
        "g": "3f28e6b5dfc44f56",
        "name": "AVG",
        "amount": 10,
        "weight": "cumulative",
        "x": 3050,
        "y": 420,
        "wires": [
            [
                "0e5798bee05d69bd"
            ]
        ]
    },
    {
        "id": "861f4ba0cf7755b3",
        "type": "moving-average",
        "z": "02cb3553ae92b013",
        "g": "3f28e6b5dfc44f56",
        "name": "AVG",
        "amount": 10,
        "weight": "cumulative",
        "x": 3050,
        "y": 460,
        "wires": [
            [
                "2fba57e8550eff35"
            ]
        ]
    },
    {
        "id": "1855bf3f37030977",
        "type": "moving-average",
        "z": "02cb3553ae92b013",
        "g": "4e18f425e6a24ecf",
        "name": "AVG",
        "amount": "2",
        "weight": "cumulative",
        "x": 3050,
        "y": 820,
        "wires": [
            [
                "0f568dab6974b856"
            ]
        ]
    },
    {
        "id": "0d593c672775df75",
        "type": "moving-average",
        "z": "02cb3553ae92b013",
        "g": "4e18f425e6a24ecf",
        "name": "AVG",
        "amount": 10,
        "weight": "cumulative",
        "x": 3050,
        "y": 860,
        "wires": [
            [
                "031394f365759b3a"
            ]
        ]
    },
    {
        "id": "b4a28cf41ec4fbea",
        "type": "moving-average",
        "z": "02cb3553ae92b013",
        "g": "4e18f425e6a24ecf",
        "name": "AVG",
        "amount": 10,
        "weight": "cumulative",
        "x": 3050,
        "y": 900,
        "wires": [
            [
                "eb98bc7c8b5f7e8b"
            ]
        ]
    },
    {
        "id": "03793632bad25f36",
        "type": "moving-average",
        "z": "02cb3553ae92b013",
        "g": "4e18f425e6a24ecf",
        "name": "AVG",
        "amount": 10,
        "weight": "cumulative",
        "x": 3050,
        "y": 940,
        "wires": [
            [
                "0f3811a5b407f8ea"
            ]
        ]
    },
    {
        "id": "94949ae65ff24828",
        "type": "moving-average",
        "z": "02cb3553ae92b013",
        "g": "8b922a437d7c7313",
        "name": "AVG",
        "amount": "2",
        "weight": "cumulative",
        "x": 3050,
        "y": 1300,
        "wires": [
            [
                "aad911653940d433"
            ]
        ]
    },
    {
        "id": "340cbbc11f5a0d64",
        "type": "moving-average",
        "z": "02cb3553ae92b013",
        "g": "8b922a437d7c7313",
        "name": "AVG",
        "amount": 10,
        "weight": "cumulative",
        "x": 3050,
        "y": 1340,
        "wires": [
            [
                "c836237aedbd17c4"
            ]
        ]
    },
    {
        "id": "b0882769b5cac47b",
        "type": "moving-average",
        "z": "02cb3553ae92b013",
        "g": "8b922a437d7c7313",
        "name": "AVG",
        "amount": 10,
        "weight": "cumulative",
        "x": 3050,
        "y": 1380,
        "wires": [
            [
                "58965bbb94c07e40"
            ]
        ]
    },
    {
        "id": "2fc071ae76a95620",
        "type": "moving-average",
        "z": "02cb3553ae92b013",
        "g": "8b922a437d7c7313",
        "name": "AVG",
        "amount": 10,
        "weight": "cumulative",
        "x": 3050,
        "y": 1420,
        "wires": [
            [
                "2bcdd44652e7aec5"
            ]
        ]
    },
    {
        "id": "67fd832bbedb7e59",
        "type": "moving-average",
        "z": "02cb3553ae92b013",
        "g": "19fd2c05009fa6d0",
        "name": "AVG",
        "amount": "2",
        "weight": "cumulative",
        "x": 3050,
        "y": 1780,
        "wires": [
            [
                "448e1deab02fa9df"
            ]
        ]
    },
    {
        "id": "fd6466f12b26c886",
        "type": "moving-average",
        "z": "02cb3553ae92b013",
        "g": "19fd2c05009fa6d0",
        "name": "AVG",
        "amount": 10,
        "weight": "cumulative",
        "x": 3050,
        "y": 1820,
        "wires": [
            [
                "26b46b1427cd6ab3"
            ]
        ]
    },
    {
        "id": "4a73237a80498c58",
        "type": "moving-average",
        "z": "02cb3553ae92b013",
        "g": "19fd2c05009fa6d0",
        "name": "AVG",
        "amount": 10,
        "weight": "cumulative",
        "x": 3050,
        "y": 1860,
        "wires": [
            [
                "3f9d4ad449ce0f75"
            ]
        ]
    },
    {
        "id": "d693afe697407ac8",
        "type": "moving-average",
        "z": "02cb3553ae92b013",
        "g": "19fd2c05009fa6d0",
        "name": "AVG",
        "amount": 10,
        "weight": "cumulative",
        "x": 3050,
        "y": 1900,
        "wires": [
            [
                "d129c8e6da9cb482"
            ]
        ]
    },
    {
        "id": "7949e289.83e98c",
        "type": "users_isloggedin",
        "z": "02cb3553ae92b013",
        "name": "",
        "enableCustomHandler": true,
        "outputs": 2,
        "x": 410,
        "y": 1460,
        "wires": [
            [
                "f7c030ff0dc125b7",
                "35167955cb6ea3ec",
                "7bbe82a8776589cb",
                "76b632f26293c523"
            ],
            [
                "3ef3fa91a685bb6c"
            ]
        ]
    },
    {
        "id": "ae12a250cb757448",
        "type": "ui_led",
        "z": "02cb3553ae92b013",
        "g": "3f28e6b5dfc44f56",
        "order": 4,
        "group": "f1b999f5373c31d8",
        "width": 3,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "PumpLED1",
        "x": 3070,
        "y": 540,
        "wires": []
    },
    {
        "id": "386c3b77bb20730b",
        "type": "ui_led",
        "z": "02cb3553ae92b013",
        "g": "3f28e6b5dfc44f56",
        "order": 7,
        "group": "f1b999f5373c31d8",
        "width": 3,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "LedLED1",
        "x": 3060,
        "y": 620,
        "wires": []
    },
    {
        "id": "b6a78b15f8e33e7d",
        "type": "ui_led",
        "z": "02cb3553ae92b013",
        "g": "4e18f425e6a24ecf",
        "order": 4,
        "group": "5e32d1811541c3ed",
        "width": 3,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "PumpLED2",
        "x": 3070,
        "y": 1020,
        "wires": []
    },
    {
        "id": "679f87c7d478693b",
        "type": "ui_led",
        "z": "02cb3553ae92b013",
        "g": "4e18f425e6a24ecf",
        "order": 7,
        "group": "5e32d1811541c3ed",
        "width": 3,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "LedLED2",
        "x": 3060,
        "y": 1100,
        "wires": []
    },
    {
        "id": "202f3a701ba5af9b",
        "type": "ui_led",
        "z": "02cb3553ae92b013",
        "g": "8b922a437d7c7313",
        "order": 4,
        "group": "d4d16815f75585a6",
        "width": 3,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "PumpLED3",
        "x": 3070,
        "y": 1500,
        "wires": []
    },
    {
        "id": "1826b48ebb09b741",
        "type": "ui_led",
        "z": "02cb3553ae92b013",
        "g": "8b922a437d7c7313",
        "order": 7,
        "group": "d4d16815f75585a6",
        "width": 3,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "LedLED",
        "x": 3060,
        "y": 1580,
        "wires": []
    },
    {
        "id": "68a650a4141c8676",
        "type": "ui_led",
        "z": "02cb3553ae92b013",
        "g": "19fd2c05009fa6d0",
        "order": 4,
        "group": "63c960e3ff3fcba6",
        "width": 3,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "PumpLED4",
        "x": 3070,
        "y": 1980,
        "wires": []
    },
    {
        "id": "105d241cf03ec7c1",
        "type": "ui_led",
        "z": "02cb3553ae92b013",
        "g": "19fd2c05009fa6d0",
        "order": 7,
        "group": "63c960e3ff3fcba6",
        "width": 3,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "LedLED4",
        "x": 3060,
        "y": 2060,
        "wires": []
    },
    {
        "id": "e8fe15d3226a6f3f",
        "type": "ui_ui_control",
        "z": "02cb3553ae92b013",
        "g": "be381ff939fe7f86",
        "name": "",
        "events": "all",
        "x": 1040,
        "y": 1460,
        "wires": [
            [
                "09b90460f95db75c"
            ]
        ]
    },
    {
        "id": "8ee10aa00402e9ce",
        "type": "http request",
        "z": "02cb3553ae92b013",
        "g": "b34e59ea24075b0f",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "body",
        "url": "http://service_catalog/insert",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 310,
        "y": 420,
        "wires": [
            [
                "daee4126e083aec1",
                "c2fd5d57dc6d0bb3"
            ]
        ]
    },
    {
        "id": "201f92e42113fc5a",
        "type": "inject",
        "z": "02cb3553ae92b013",
        "g": "b34e59ea24075b0f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"serviceName\":\"Dashboard\",\"availableServices\":[\"REST\",\"MQTT\"],\"serviceDetails\":[{\"serviceType\":\"MQTT\",\"subscribedTopics\":[\"#\"]},{\"serviceType\":\"REST\",\"serviceIP\":\"172.16.0.126:1880\"}]}",
        "payloadType": "json",
        "x": 110,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "daee4126e083aec1",
        "type": "debug",
        "z": "02cb3553ae92b013",
        "g": "b34e59ea24075b0f",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 380,
        "wires": []
    },
    {
        "id": "fddd325bfca8b637",
        "type": "trigger",
        "z": "02cb3553ae92b013",
        "g": "b34e59ea24075b0f",
        "name": "",
        "op1": "msg.payload",
        "op2": "",
        "op1type": "str",
        "op2type": "payl",
        "duration": "-1",
        "extend": false,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 750,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "848218af9bd22a54",
        "type": "http request",
        "z": "02cb3553ae92b013",
        "g": "b34e59ea24075b0f",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "http://service_catalog/refresh",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 950,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "c2fd5d57dc6d0bb3",
        "type": "change",
        "z": "02cb3553ae92b013",
        "g": "b34e59ea24075b0f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.ID",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 460,
        "wires": [
            [
                "fddd325bfca8b637"
            ]
        ]
    },
    {
        "id": "483aba0a93928588",
        "type": "switch",
        "z": "02cb3553ae92b013",
        "g": "be381ff939fe7f86",
        "name": "",
        "property": "payload.n_fields",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 1610,
        "y": 1420,
        "wires": [
            [
                "8f8380bb5114396b"
            ],
            [
                "4264235bb96ce660"
            ],
            [
                "502be9dbe7c2f09e"
            ],
            [
                "99f3ef62098a8fe5"
            ]
        ]
    },
    {
        "id": "b406a07e5025b9e7",
        "type": "ui_ui_control",
        "z": "02cb3553ae92b013",
        "g": "be381ff939fe7f86",
        "name": "",
        "events": "all",
        "x": 2040,
        "y": 1420,
        "wires": [
            []
        ]
    },
    {
        "id": "8f8380bb5114396b",
        "type": "change",
        "z": "02cb3553ae92b013",
        "g": "be381ff939fe7f86",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tabs\":{\"show\":\"Field 1\",\"hide\":[\"Field 2\",\"Field 3\",\"Field 4\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1820,
        "y": 1360,
        "wires": [
            [
                "b406a07e5025b9e7"
            ]
        ]
    },
    {
        "id": "4264235bb96ce660",
        "type": "change",
        "z": "02cb3553ae92b013",
        "g": "be381ff939fe7f86",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tabs\":{\"show\":[\"Field 1\",\"Field 2\"],\"hide\":[\"Field 3\",\"Field 4\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1820,
        "y": 1400,
        "wires": [
            [
                "b406a07e5025b9e7"
            ]
        ]
    },
    {
        "id": "502be9dbe7c2f09e",
        "type": "change",
        "z": "02cb3553ae92b013",
        "g": "be381ff939fe7f86",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tabs\":{\"show\":[\"Field 1\",\"Field 2\",\"Field 3\"],\"hide\":\"Field 4\"}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1820,
        "y": 1440,
        "wires": [
            [
                "b406a07e5025b9e7"
            ]
        ]
    },
    {
        "id": "99f3ef62098a8fe5",
        "type": "change",
        "z": "02cb3553ae92b013",
        "g": "be381ff939fe7f86",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tabs\":{\"show\":[\"Field 1\",\"Field 2\",\"Field 3\",\"Field 4\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1820,
        "y": 1480,
        "wires": [
            [
                "b406a07e5025b9e7"
            ]
        ]
    },
    {
        "id": "09b90460f95db75c",
        "type": "change",
        "z": "02cb3553ae92b013",
        "g": "be381ff939fe7f86",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "logged",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "yes",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1220,
        "y": 1460,
        "wires": [
            [
                "a9a685c9.2d1268"
            ]
        ]
    },
    {
        "id": "64b4c1209635ac49",
        "type": "http request",
        "z": "02cb3553ae92b013",
        "g": "be381ff939fe7f86",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "query",
        "url": "http:resource_catalog:8080/getFields",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1010,
        "y": 1380,
        "wires": [
            [
                "263f26a2a7da014c"
            ]
        ]
    },
    {
        "id": "76b632f26293c523",
        "type": "change",
        "z": "02cb3553ae92b013",
        "g": "be381ff939fe7f86",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "msg.paylaod.user.scope",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 1380,
        "wires": [
            [
                "64b4c1209635ac49"
            ]
        ]
    },
    {
        "id": "a9a685c9.2d1268",
        "type": "join",
        "z": "02cb3553ae92b013",
        "g": "be381ff939fe7f86",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1410,
        "y": 1420,
        "wires": [
            [
                "1de9039bd8d89fac",
                "483aba0a93928588"
            ]
        ]
    },
    {
        "id": "1de9039bd8d89fac",
        "type": "debug",
        "z": "02cb3553ae92b013",
        "g": "be381ff939fe7f86",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1580,
        "y": 1360,
        "wires": []
    },
    {
        "id": "263f26a2a7da014c",
        "type": "change",
        "z": "02cb3553ae92b013",
        "g": "be381ff939fe7f86",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "n_fields",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1220,
        "y": 1380,
        "wires": [
            [
                "a9a685c9.2d1268"
            ]
        ]
    },
    {
        "id": "3ea229243d5c5f4e",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt.eclipseprojects.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "31de8e5b82691490",
        "type": "ui_group",
        "name": "Weather",
        "tab": "698e01817b646764",
        "order": 2,
        "disp": false,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cdd0e15889b1286d",
        "type": "ui_group",
        "name": "Home",
        "tab": "698e01817b646764",
        "order": 1,
        "disp": false,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "dc85dc3382f47ab2",
        "type": "ui_group",
        "name": "Localization",
        "tab": "698e01817b646764",
        "order": 5,
        "disp": false,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f1b999f5373c31d8",
        "type": "ui_group",
        "name": "Actuators",
        "tab": "cfbf5bffbaa84de7",
        "order": 1,
        "disp": true,
        "width": "7",
        "collapse": true,
        "className": ""
    },
    {
        "id": "5e32d1811541c3ed",
        "type": "ui_group",
        "name": "Actuators",
        "tab": "915f7ddef7cd3dd6",
        "order": 1,
        "disp": true,
        "width": "7",
        "collapse": true,
        "className": ""
    },
    {
        "id": "d4d16815f75585a6",
        "type": "ui_group",
        "name": "Actuators",
        "tab": "86c8368f92b091d5",
        "order": 1,
        "disp": true,
        "width": "7",
        "collapse": true,
        "className": ""
    },
    {
        "id": "63c960e3ff3fcba6",
        "type": "ui_group",
        "name": "Actuators",
        "tab": "5109d4cb16cb06c6",
        "order": 1,
        "disp": true,
        "width": "7",
        "collapse": true,
        "className": ""
    },
    {
        "id": "78956960e46b2a2e",
        "type": "ui_group",
        "name": "Sensors",
        "tab": "cfbf5bffbaa84de7",
        "order": 3,
        "disp": true,
        "width": "7",
        "collapse": true,
        "className": ""
    },
    {
        "id": "99dca6761e2d9c28",
        "type": "ui_group",
        "name": "Sensors",
        "tab": "915f7ddef7cd3dd6",
        "order": 3,
        "disp": true,
        "width": "7",
        "collapse": true,
        "className": ""
    },
    {
        "id": "76c122f563a2790b",
        "type": "ui_group",
        "name": "Sensors",
        "tab": "86c8368f92b091d5",
        "order": 3,
        "disp": true,
        "width": "7",
        "collapse": true,
        "className": ""
    },
    {
        "id": "dca27f708d79a283",
        "type": "ui_group",
        "name": "Sensors",
        "tab": "5109d4cb16cb06c6",
        "order": 3,
        "disp": true,
        "width": "7",
        "collapse": true,
        "className": ""
    },
    {
        "id": "034412fb686048d4",
        "type": "ui_group",
        "name": "Consumption",
        "tab": "698e01817b646764",
        "order": 4,
        "disp": false,
        "width": 7,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2a745e6b.07df92",
        "type": "ui_group",
        "name": "Default",
        "tab": "e63bce2d.68925",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true
    },
    {
        "id": "6fd2c0e41aa3f4f8",
        "type": "ui_group",
        "name": "Messages",
        "tab": "698e01817b646764",
        "order": 3,
        "disp": false,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "698e01817b646764",
        "type": "ui_tab",
        "name": "Home",
        "icon": "fa-th",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "cfbf5bffbaa84de7",
        "type": "ui_tab",
        "name": "Field 1",
        "icon": "fa-tree",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "915f7ddef7cd3dd6",
        "type": "ui_tab",
        "name": "Field 2",
        "icon": "fa-tree",
        "order": 6,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "86c8368f92b091d5",
        "type": "ui_tab",
        "name": "Field 3",
        "icon": "fa-tree",
        "order": 7,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5109d4cb16cb06c6",
        "type": "ui_tab",
        "name": "Field 4",
        "icon": "fa-tree",
        "order": 8,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e63bce2d.68925",
        "type": "ui_tab",
        "name": "Denon",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": true
    }
]